@page "/actividades"
@inject IJSRuntime JS

<PageTitle>Actividades</PageTitle>






<div class="mb-5">

    <h2 class="col">XXVII Congreso de Tribunales de Cuentas Órganos y Organismos Públicos de Control Externo de la
        República Argentina</h2>
    <p>
        Como aporte fundamental al análisis y estudio de los temas de control, se presentaron seis (6) trabajos en el
        XXVII Congreso de Tribunales de Cuentas Órganos y Organismos Públicos de Control Externo de la República
        Argentina, en las Termas de Río Hondo de la provincia de Santiago del Estero, en el mes de noviembre de 2024.
        <br><br>
        Los mismos versaron sobre los siguientes temas: <br>
        1) LA REVOLUCIÓN DE LA INTELIGENCIA ARTIFICIAL (IA) EN AUDITORÍA EXTERNA DEL SECTOR PÚBLICO: ¿INFIERNO O
        PARAÍSO? Autora: María Dolores Troiano <br>
        2) INTELIGENCIA ARTIFICIAL EN ORGANISMOS DE CONTROL PÚBLICO. Desafíos y Oportunidades. Autoras: Lic. Leticia
        Marcia Sosa, Lic. Patricia Alejandra Pérez <br>
        3) INTELIGENCIA ARTIFICIAL, APRENDIZAJE AUTOMÁTICO Y CONTROLES AUTOMÁTICOS APLICADO A LA AUDITORÍA CONTABLE.
        Autoras: Ing. Marcela Palmieri, Lic. Patricia Alejandra Pérez <br>
        4) AUDITORÍA DE RECURSOS TRIBUTARIOS MUNICIPALES Y USO DE TECNOLOGÍA PARA SU CONTROL EN EL TRIBUNAL DE CUENTAS
        DE MENDOZA. LIMITACIONES ACTUALES DE LA IA GENERATIVA. Autores: Cdra. Irina Montano- Cdra. Adriana Agüero <br>
        5) ESTRUCTURA Y OPINIÓN EN EL INFORME GENERAL Y FALLO. Autora Cont. Graciela Salvo <br>
        6) LOS ESTÁNDARES INTERNACIONALES Y EL NUCLEO DURO DEL JUICIO DE CUENTAS: RESPONSABILIDAD – JURIDICIDAD – MOTIVACION DEL FALLO. Autora Abogada. Cintia Onetto
    </p>


    <BSCarousel HasControls="true">
        <BSCarouselItem>
            <img src="img/congreso-2024/congreso(1).jpg" class="d-block w-100" alt="Congreso 2024">
        </BSCarouselItem>

        <BSCarouselItem>
            <img src="img/congreso-2024/congreso(3).jpg" class="d-block w-100" alt="Congreso 2024">
        </BSCarouselItem>
        <BSCarouselItem>
            <img src="img/congreso-2024/congreso(4).jpg" class="d-block w-100" alt="Congreso 2024">
        </BSCarouselItem>

    </BSCarousel>

</div>



@* ----------- VERSION TEATRO -----------*@

<h2 class="mt-5 mb-4">Versión Teatro</h2>
<h4 class="mb-4">Espacio lúdico expresivo </h4>


<p>
    Durante el mes de abril se desarrolló el taller lúdico expresivo, con cuatros encuentros consecutivos los días
    viernes 5, 12, 19 y 26, y con una duración de 40 minutos cada uno de ellos. Los mismos se desarrollaron en
    nuestro espacio expresivo, con el principal objetivo de recuperar la capacidad lúdica, en el que a través de
    juegos y ejercicios teatrales se potenciaron las capacidades de atención y concentración. <br>
    Del mismo participaron 19 agentes colaboradores del Tribunal de Cuentas de Mendoza, con el deseo de integrarse y
    adquirir herramientas que los motorice en su crecimiento personal y fortifique el trabajo en equipo.

</p>

<BSCarousel HasControls="true">
    <BSCarouselItem>
        <img src="img/version-teatro/espacio-ludico-teatro.jpeg" class="d-block w-100" alt="versión teatro">
    </BSCarouselItem>
    <BSCarouselItem>
        <img src="img/version-teatro/espacio-ludico-teatro-2.jpeg" class="d-block w-100" alt="versión teatro">
    </BSCarouselItem>

</BSCarousel>




<h4 class="mt-5 mb-4">Declaración de Ciudadana Ilustre – Lita Tancredi </h4>

<div class="row mt-2 gap-5">
    <p class="col">

        Invitados por la Dirección de Cultura de la municipalidad de la ciudad de Mendoza, acompañamos a Lita Tancredi
        en el emotivo, necesario y merecido homenaje que le brindó la ciudad de Mendoza. Gracias a su generosa
        amabilidad nuestro elenco Versión Teatro, habitó su sala como propia durante muchos años.
        Allí, en su centro cultural de calle Montecaseros, convenio de por medio con el Tribunal de Cuentas,
        participamos semanalmente durante un puñado de años de los talleres de teatro, además, allí estrenamos nuestras
        producciones: Divinidad pájara 2006, Las horas 2007, Maté a un tipo 2008, Entrevista de trabajo 2009, Cuatro
        ensayos de mujeres 2010, ensayamos todo el proceso de Nuestra historia 2011 que estrenamos en auditorio Ángel
        Bustelo, El velorio de la azafata 2012 y Origen Hamlet 2016. Gracias Lita por tus consejos siempre desde el
        amor. Te queremos mucho ciudadana ilustre. (Foto Mendoza Ciudad)
    </p>
    <img src="img/version-teatro/lita-tancredi.jpg" class="h-100 col-5" alt="Diego Rios" />


</div>


<h4 class="mt-5 mb-4">Encarnación en gira </h4>

<p>

    Con una cálida recepción en los departamentos de Junín, Lavalle y San Martín, que se caracterizó por la
    generosidad de su gente; alumnos; docentes directivos de los colegios, jóvenes y centros de adultos, los
    municipios abrieron las puertas de sus mejores salas teatrales y dispusieron de su personal a nuestro servicio,
    todos valoran nuestra actividad, resaltando el espacio expresivo de nuestro organismo, como un plus que destaca
    el compromiso con el personal y con el arte.
    <br> Para este 2024, Versión Teatro se planteó como objetivo recorrer los departamentos más alejados de la
    provincia de Mendoza con su espectáculo teatral: Yo, Encarnación Ezcurra. De esta manera, el elenco del Tribunal
    de Cuentas de Mendoza, y con el beneplácito de un puñado de municipios, se trasladó a los departamentos más
    alejados de la ciudad, entendiendo que la oferta teatral y cultural en los departamentos del área metropolitana
    es variada, permanente y en cantidad.
    <br> Con el objetivo esencial, trazado en la creación del elenco allá por 2005: de hacer conocer a la comunidad
    mendocina la tarea que realiza nuestra institución, el Tribunal de Cuentas se hizo visible en un ámbito ajeno a
    los procesos de Fiscalización y Juicio de Cuentas a través de una actividad teatral de su elenco con la obra de
    Cristina Escofet.
    <br><br>


</p>

<BSCarousel HasControls="true">
    <BSCarouselItem>
        <img src="img/version-teatro/encarnacion-gira-1.jpeg" class="d-block w-100" alt="versión teatro">
    </BSCarouselItem>
    <BSCarouselItem>
        <img src="img/version-teatro/encarnacion-gira-2.jpeg" class="d-block w-100" alt="versión teatro">
    </BSCarouselItem>
    <BSCarouselItem>
        <img src="img/version-teatro/encarnacion-gira-3.jpeg" class="d-block w-100" alt="versión teatro">
    </BSCarouselItem>

</BSCarousel>

<p class="mt-5 "> Las primeras funciones programadas incluyeron a los departamentos de Junín, Lavalle y General San
    Martín, el día jueves 27 de junio se representó en la Casa del Bicentenario de La Colonia, Junín, para los
    colegios secundarios de la zona, dentro de la agenda por los festejos de los 25 años de La Colonia como ciudad.
    Y el mismo 27 en el departamento de Lavalle para jóvenes y los centros de Jubilados de la Villa Tulumaya en la
    Casa de la Cultura Juanita Vera. Finalizando en el departamento de General San Martín, en el Cine Teatro Colón
    de Palmira, en la programación de los actos oficiales en conmemoración del fallecimiento del General José de San
    Martín, con dos funciones a sala llena, el día 15 de agosto para colegios secundarios del distrito del este y
    las cooperativas de trabajo. Cabe celebrar que más de 1.000 espectadores, de diferentes estratos sociales de las
    comunidades mencionadas, nos acompañaron en estas cuatro funciones, conociendo la vida, pasión y muerte de una
    política de agallas en un momento en que, a las mujeres, el orden de lo político les estaba negado.
    <br> Esta aventura, nos permitió también vincularnos desde otro lugar con quienes compartimos charlas
    distendidas, sus expectativas y su mirada acerca del teatro y la historia.
</p>




@* ----------- FIN VERSION TEATRO -----------*@

<h3 class="mt-5 mb-4">Capacitación para una gestión eficaz</h3>
<h5>Talleres de desarrollo personal</h5>
<p>
    Como parte de los objetivos de los talleres desarrollo personal desde el punto de vista de la organización podemos
    decir que un buen ambiente laboral fomenta el respeto mutuo, lo que facilita la cooperación entre equipos de
    trabajo. Esto permite mejorar la motivación y el compromiso de los empleados, lo que a su vez puede resultar en un
    aumento de la productividad. <br><br>
    El taller en su totalidad fue dictado por Beatriz Artuso y Melisa Palavecino. La planificación estuvo dividida en
    dos etapas: la primera mitad del año será dictada el módulo 1 “gestión de emociones” para todos los interesados. La
    segunda mitad del año se desarrollaron los módulos de: comunicación y liderazgo juntos y por cada una de las áreas
    interesadas. <br><br>
    <strong> MODULO I - GESTIÓN DE LAS EMOCIONES</strong> <br>
    <strong>MODULO II - COMUNICACIÓN </strong><br>
    <strong>MODULO III - LIDERAZGO</strong>
</p>

<BSCarousel HasControls="true">
    <BSCarouselItem>
        <img src="img/capacitacion/capacitacion-1.jpg" class="d-block w-100" alt="versión teatro">
    </BSCarouselItem>
    <BSCarouselItem>
        <img src="img/capacitacion/capacitacion-2.jpg" class="d-block w-100" alt="versión teatro">
    </BSCarouselItem>
    <BSCarouselItem>
        <img src="img/capacitacion/capacitacion-3.jpg" class="d-block w-100" alt="versión teatro">
    </BSCarouselItem>

</BSCarousel>



<h3 class="mt-5 mb-4">Talleres de liderazgo para Directores Y Jefes de Sector</h3>

<p>
    En octubre se reunieron los directores, subdirectores y jefes de sector en el encuentro de Liderazgo y Gestión del
    tiempo llevado adelante por Cdoras. Beatriz Artuso y Melisa Palavecino. <br>
    Durante el encuentro se trataron diferentes temáticas que luego se irán trabajando en cada una de las áreas por sus
    directores y en talleres particulares.
</p>

<NavLink type="button" class="text-black mt-md-5" href="https://www.tribcuentasmendoza.gob.ar/Memoria/2024/"> <img class="me-2" width="32" height="32"
        src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>



@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llama a CuadroFallos() solo en la primera renderización
            await Trabajo();
        }
    }

    private async Task Trabajo()
    {
        try
        {
            await JS.InvokeVoidAsync("Jornadas");
            Console.WriteLine("La función cuadroFallos se ejecutó correctamente.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al ejecutar cuadroFallos: {ex.Message}");
        }
    }
}
