@page "/actividades"
@inject IJSRuntime JS

<PageTitle>Actividades</PageTitle>


<div class="mb-5">

    <h3>Participación en las XXVII Jornadas Nacionales de Tribunales de Cuentas, Órganos y Organismos de Control - Catamarca junio 2024.</h3>
    El Secretariado Permanente de Tribunales de Cuentas, Órganos y Organismos Públicos de Control Externo de la República Argentina es una organización que agrupa a los organismos públicos de control externo de las 24 jurisdicciones del país. El Tribunal de Cuentas de Mendoza ha participado de los cuatro encuentros anuales del Consejo Directivo del Secretariado desarrollados en las provincias de Santa Cruz, Catamarca, Misiones y Santa Fe. 
    <p>
        Como aporte fundamental al análisis y estudio de los temas de control, se presentaron 10 trabajos en las XXVII Jornadas Nacionales de Tribunales de Cuentas, Órganos y Organismos de Control. Catamarca junio 2024.
        <br /><br />Del 28 al 30 de junio se realizarán las Jornadas Nacionales de los Tribunales de Cuentas y nuestro organismo participó de manera activa con la presentación de 10 ponencias de estudio e investigación y las reuniones del Secretariado permanente donde se compartieron experiencias y criterios de control.
<br /><br />Durante esos días el Tribunal de Cuentas expuso sobre aspectos de la planificación y auditoria: Gestión e Indicadores vinculados al seguimiento de la planificación, Estado Abierto e Innovación Pública, Auditoría de sueldos, Planificación de controles digitales, Planificación para auditar el expediente electrónico, Planificación como herramienta para alcanzar los objetivos de control y auditoría vinculados a las rendiciones de cuentas y Contrataciones Muestreo Automático.
        <br /><br />Además, abordará aspectos legales: Contratación del Estado, la nueva Ley orgánica del Tribunal de Cuentas de Mendoza y la ejecución del Contrato. El caso especial del Legitimo Abono. Y aspectos internaciones de la contratación pública, un abordaje integrador de norma, principios y postulados
        <br /><br />Por otro lado, se realizó la presentación de aspectos que hacen a nuestro clima laboral y social dentro de la organización. En este sentido, la Cdora. Artuso expuso sobre “Evolución en la cultura de la organización respecto del ambiente laboral” y nuestro referente del electo de teatro con “Taller de teatro en el ámbito laboral como motor innovador de un ambiente sano y equilibrado. Fortalecimiento del trabajo en equipo” y la presentación de la Obra Teatral de YO… ENCARNACIÓN EZCURRA con la dirección de Diego Alejandro Rios, pusieron cuerpo y corazón Sara Santos, Carolina Kokotoff y Florencia Pedraza (agentes del Tribunal).
        <br /><br />Las jornadas fueron una oportunidad de intercambio única entre todos los organismos de control, donde autoridades y personal pudieron aunar criterios y compartir experiencias.
    </p>
    Los trabajos presentados por el equipo del Tribunal de Cuentas de Mendoza, versaron sobre los siguientes temas <br /><br />
    <h4>Tema 1: Ejercicio del Control en Contrataciones del Estado</h4>
    <div class="row gap-5 ">
        <p class="col"> 
                        
            Presencia del Derecho Internacional en la contratación pública un abordaje integrador de normas, principios y postulados. <br /> Autora:  Cintia Onetto. <br />
           
        </p>
        <p class="col text-end">
             Aspectos legales de la contratación del estado. Figuras que se utilizan para evadir el procedimiento. Reglas de fin de mandato.<br /> Autor:  Gustavo Riera.
        </p>
    </div>
</div>
    <img class="w-100 mb-5" src="img/jornadas.jpg" alt="XXVII Jornadas Nacionales de Tribunales de Cuentas" />

<h4>Tema 2: Planificación de la auditoría Presentación Cdra. Graciela Salvo</h4>
    <div class="row gap-3 ">
        <p class="col">

        Planificación para Auditar el Expediente Electrónico del Tribunal de Cuentas de Mendoza – Adriana Isabel Agüero, y Roxana Cecilia Piottante.
           
        </p>
       
    <p class="col">
        Auditoria de sueldos, planificación de controles digitales automáticos Autoras:  Marcela Andrea Palmieri, y Patricia Alejandra Pérez.
    </p>
    <p class="col">
        Planificación como herramienta para alcanzar los objetivos de control y auditoría vinculados a las rendiciones de cuentas – Autoras:  Irina Beatriz Montano Mattei, y Jimena Cecilia Carrizo.
    </p>
    <p class="col">
        Planificación de la auditoría, estado abierto e innovación pública – Autoras:  Leticia Marcia Sosa, y Patricia Alejandra Pérez.
    </p>
    <p class="col">
        Informes de gestión e indicadores vinculados al seguimiento de la planificación – Autores:  Juan Víctor Diblasi, y Graciela Salvo.
    </p>

    </div>
<h4>Tema 3: Control Ambiental</h4>
<p>Evolución en la cultura de la organización respecto del ambiente laboral -planificación de la auditoría- Autora:  Estela Beatriz Artuso. </p>
 <p >
        Taller de Teatro en el Ámbito Laboral Motor Innovador de un Ambiente Sano y Equilibrado y Fortalecimiento del Trabajo en Equipo. Autor:  Diego Alejandro Ríos.
    </p>

<div class="mt-5 mb-5">
    <h3 class="mb-5">TRABAJOS PRESENTADOS EN LAS JORNADAS DEL IETEI JUNIO DE 2024</h3>
    <canvas class="w-75 h-75" id="jornada"></canvas>

</div>



<div class="row align-items-center d-flex flex-wrap mt-5">
    <h2 class="col">Grupo de Responsabilidad Social</h2>
    @* <img class="col-auto" src="/img/responsabilidad-social.png" alt="Logo Responsabilidad Social"/> *@
</div>

<h3>Colecta ayuda permanente a merendero <strong><i>“Milagros de Dios”</i></strong></h3>

<p>
    El grupo de Mejora de Responsabilidad Social colaboró con el merendero "Milagros de Dios" que está ubicado en Rodeo del Medio, Guaymallén.

    Se entregaron distintos elementos como ropa, impresoras, mercadería etc. Seguimos trabajando con empatía para ayudar a los que nos necesitan.
</p>


<div id="respsoc" class="carousel slide mb-5 mt-4">

    <BSCarousel HasControls="true">
        <BSCarouselItem>
            <img src="img/GRS/resp-soc-1.jpg" class="d-block w-100" alt="Responsabilidad Social">
        </BSCarouselItem>
        <BSCarouselItem>
            <img src="img/GRS/resp-soc-2.jpg" class="d-block w-100" alt="Responsabilidad Social">
        </BSCarouselItem>
    </BSCarousel>

    
</div>



<p>
    Estamos convencidos de que podemos generar una transformación positiva con iniciativas que están encaminadas a contribuir con un mundo mejor para todos.

    Ser responsables con el entorno que nos rodea planteando acciones justas y de consenso para mejorar la calidad de vida de los individuos y buscar una sociedad más cohesionada es una responsabilidad de todos , seguiremos trabajando en este camino.
</p>


<h3 class="mt-5">Colecta para armar mochilas completas  <strong><i>“Proyecto Mochi”</i></strong></h3>

<p>
    "Proyecto Mochi " es una iniciativa de un grupo de personas que todos los años reúnen donaciones para que los chicos que lo necesitan.

El objetivo es que cada niño cuente con todos los útiles para el comienzo de las clases. 

</p>

<div id="mochi" class="carousel slide mb-5 mt-4">

    <BSCarousel HasControls="true">
        <BSCarouselItem>
            <img src="img/GRS/mochi-1.jpg" class="d-block w-100" alt="Responsabilidad Social">
        </BSCarouselItem>
        <BSCarouselItem>
            <img src="img/GRS/mochi-2.jpg" class="d-block w-100" alt="Responsabilidad Social">
        </BSCarouselItem>
       
    </BSCarousel>

</div>

<p>
    El Tribunal de Cuentas, a través del Grupo de Mejora de Responsabilidad Social, se encargó de recaudar todo lo necesario para colaborar con esta causa tan noble.

Se han completado 19 mochilas con los útiles necesarios para donar a la escuela Martín Miguel de Güemes de Palmira. Esto representa el 1% del total necesario del objetivo que se plantearon los encargados del "Proyecto Mochi" para el 2024.

Queremos agradecer a todos los que se sumaron porque sabemos que la educación es la mejor herramienta para cambiar la realidad.
</p>

<p class="mb-5">
    <strong>OTRAS ACCIONES SOLIDARIAS</strong><br /><br />
    Recolección de tapitas plásticas en tachos de cada piso para ACUNAR. <br />
    Recolección de pilas y baterías.<br />
    Reciclado de papel de la documentación prescripta de archivo de las áreas en Giol

</p>

@* ----------- VERSION TEATRO -----------*@

<h2 class="mt-5 mb-4">Versión Teatro</h2>
<h4 class="mb-4">Yo, Encarnación Ezcurra </h4>

<div class="row mb-5">
    <p class="col">
        Son los últimos días de la esposa del restaurador Don Juan Manuel de Rosas, en su habitación recuerda cada momento vivido y relee las cartas que le enviara a su hombre en el desierto, hasta la llegada de su muerte. <br /><br /> 
        En un monólogo en ocho momentos repasamos la vida de Encarnación, tan apasionada por su esposo como por la causa política que los unía, sus orígenes, sus deseos, la pasión de la carne, sus hijos y hasta la soledad de sus últimos días. <br /> 
        Obsesionada por el pasado: el intenso amor que la unió a Rosas y el poder que ya la ha abandonado. <br />   
        La historia de Encarnación Ezcurra está colmada de emociones intensas y apasionadas, son las palabras de una mujer importante para su época, una política de agallas en un momento en que, a las mujeres, el orden de lo político les estaba negado.<br /><br />
        <strong class="fs-6">Ficha técnica artística</strong> <br /> <br />
        <strong>Dramaturgia:</strong> Cristina Escofet <br />
        <strong>Actúan:</strong> Sara Santos – Carolina Kokotoff – Florencia Pedraza – Leila Giadas <br />
        <strong>Música en vivo:</strong> Ingrid Manzano <br />
        <strong>Vestuario:</strong> Versión Teatro <br />
        <strong>Diseño escenográfico y de luces:</strong> Ludmila Espinosa <br />
        <strong>Arte y Fotografía:</strong> Joel Ovejero <br />
        <strong>Diseño gráfico y web:</strong> Eugenio Aragón <br />
        <strong>Producción general:</strong> Versión Teatro <br />
        <strong>Asistentes de producción:</strong> Leticia Sosa – Silvia Estrella <br />
        <strong>Dirección general y puesta en escena:</strong> Diego Alejandro Rios <br /> <br />

        <strong class="fs-6">Historial de funciones</strong> <br /> <br />
        26 de junio de 2024 Auditoria Margarita Malharro de Torres – Legislatura provincial – Sarmiento 247. Ciudad, Mendoza. <br />
        29 de junio de 2024 Cine Teatro Catamarca - San Martín 515, San Fernando del Valle de Catamarca, Catamarca. <br />
        25 de agosto / 01 de setiembre de 2024 – 21:30 Hs. NAVE Cultural – Sala 2 Susana Tampieri - España y Maza – Ciudad, Mendoza. <br />
        24 de noviembre de 2024 – 21:30 hs. Sala Tito Francia – espacio cultural Julio Le Parc - Mitre y Godoy Cruz, Guaymallén, Mendoza. <br />
        12 de diciembre de 2024 – 15 hs. Servicio Penitenciario – Cárcel de mujeres – Cacheuta. <br />

    </p>
    <img src="img/version-teatro/afiche.jpg" class=" col-5 h-100" />

</div>


<div id="teatro" class="carousel slide">

    <BSCarousel HasControls="true">
        <BSCarouselItem>
            <img src="img/version-teatro/staff.jpg" class="d-block w-100" alt="staff versión teatro">
        </BSCarouselItem>
        <BSCarouselItem>
            <img src="img/version-teatro/actrices.jpg" class="d-block w-100" alt="actrices">
        </BSCarouselItem>
       
    </BSCarousel>
   
</div>

<h4 class="mt-5">XXVII JORNADAS NACIONALES de Tribunales de Cuentas </h4>

<div class="row mt-2">
    <p class="col">

        Participamos de la XXVII JORNADAS NACIONALES de Tribunales de Cuentas, Órganos y Organismos Públicos de Control Externo de la República Argentina, en la ciudad de San Fernando del Valle de Catamarca los días 28, 29 y 30 junio, allí pudimos compartir 18 años de experiencia de Versión Teatro: su historia, su metodología pedagógica y sus obras, elenco taller de teatro creado por el personal del Tribunal de Cuentas de Mendoza en 2005.<br />
       <br /> Una experiencia enriquecedora, de gran crecimiento personal y colectivo donde expusimos el trabajo realizado: Taller de Teatro en el Ámbito Laboral, motor Innovador de un ambiente sano y equilibrado y fortalecimiento del trabajo en equipo. Porque hablar de temas tan sensibles y de la humanidad que esta actividad promueve, dentro del ámbito de trabajo en la administración pública nos muestra diferentes. Y con el plus de haber compartido, con el resto de los organismos de control del país, nuestro nuevo proyecto Yo, Encarnación Ezcurra de Cristina Escofet.<br />
    </p>
    <img src="img/version-teatro/diego rios.jpg" class="h-100 col-5" alt="Diego Rios" />
    <p class="mt-5">
        El taller de Teatro en el ámbito laboral del Tribunal de Cuentas de Mendoza, es un espacio que busca fortalecer el trabajo en equipo y de generar un ambiente de trabajo sano y equilibrado que favorezca el desarrollo personal y humano de sus colaboradores. Transmitir la experiencia vivenciada en estos años por los agentes/actores del Tribunal de Cuentas de Mendoza con su elenco Versión Teatro, consideramos que puede motivar a más organismos del Estado a incorporar este espacio de expresión en dónde el Taller de Teatro sea el motor innovador de un ambiente sano y equilibrado de tareas y fortalezca el Trabajo en Equipo, dentro de un espacio de disfrute.<br />
        <br />El Taller de Teatro en estos espacios no convencionales, nos brinda la oportunidad de controlar o dirigir situaciones de la cotidianidad laboral, lo que muchas veces no podemos hacer en la vida real. Ensayar la realidad a través del juego, ejercicios e improvisaciones nos ha proporcionado la oportunidad de hacer las cosas de un modo distinto o de vernos desde afuera. Se ha convertido en un instrumento efectivo, que nos permite trabajar de un modo muy satisfactorio en un ambiente sano y equilibrado.<br />
        <br />En nuestra experiencia, ciertas actividades expresivas a través de juegos y ejercicios teatrales, por ejemplo, el cambio de roles, la dramatización de situaciones cotidianas, las técnicas de improvisación espontánea, se han usado para la formación y el desarrollo personal de quienes han participado y participan, con grandes y evidentes resultados. Esta experiencia que ha fortalecido verdaderamente los vínculos de quienes han transitado el Taller, se ha visto reflejada en el trato diario en cada sector del Tribunal de Cuentas, generando un buen clima de trabajo.<br />
    </p>
    @* <a href="https://versionteatro.com.ar/index.html"> WEB DE VERSIÓN TEATRO</a> *@

</div>


<h4 class="mt-5">Resolución N° 314 </h4>
<div class="row mt-5">
    <img src="img/version-teatro/resolucion.jpg" class="h-100 col-5" alt="Resolución 314" />
    <p class="col">
    
        Dada en el recinto de sesiones el día diez de octubre de dos mil veintitrés, la Honorable Cámara de Senadores de la Provincia de Mendoza declara de interés de esta Honorable Cámara la trayectoria y labor realizada, desde 2005, por el Elenco VERSIÓN TEATRO del Tribunal de Cuentas de la Provincia de Mendoza. Este tipo de reconocimiento público no sólo nos enorgullece, si no que nos da la oportunidad de visibilizar nuestra actividad, que desde hace dieciocho años llevamos adelante dentro de la administración pública provincial, y de fortalecernos internamente como equipo de trabajo.
        <br /> <br /> Entendiendo, que las actividades expresivas a través de juegos y ejercicios teatrales, se han usado para la formación y el desarrollo personal de quienes han participado y participan, con grandes y evidentes resultados. Esta experiencia que ha fortalecido verdaderamente los vínculos de quienes han transitado el Taller, se ha visto reflejada en el trato diario en cada sector del Tribunal de Cuentas, generando un buen clima de trabajo. Este instrumento efectivo, nos permite trabajar de un modo muy satisfactorio en un ambiente sano y equilibrado.
        <br /> <br /> “Un dato para destacar…”, esgrime el Senador Marcelo Rubio en sus argumentos, “…es que, el Tribunal de Cuentas es el único organismo que tiene un espacio de estas características”
        <br /> <br /> Muchas gracias al Senador Rubio por este mimo que nos impulsa a seguir adelante con este Taller de Teatro en el ámbito laboral, como motor innovador de un ambiente sano y equilibrado y que fortalece el trabajo en equipo. Gracias a las autoridades del Honorable Tribunal de Cuentas de Mendoza, que desde la creación de Versión Teatro se brindaron predispuesto a estimular la iniciativa dentro del organismo contralor.


    </p>
</div>

<h4 class="mt-5"> Agasajo 18 años </h4>


<div class="row">
    
    <p class="">


        El viernes 24 de noviembre de 2024 celebramos en el espacio cultural Julio Le Parc, nuestros dieciocho años con la puesta en escena de Yo, Encarnación Ezcurra, de Cristina Escofet; presentamos nuestro nuevo isologo bajo el nuevo concepto de unificar estética de la comunicación institucional; reconocimos con estatuillas y certificados a aquellas personas que ya cumplieron servicios en el Tribunal de Cuentas y que pasaron dejando huellas por nuestro elenco. <br /><br />

        <img src="img/version-teatro/agasajo.jpg" class="w-100" alt="Resolución 314" /><br /><br />
        
        Los agasajados: Dorita Giménez: 2009 Entrevista de trabajo y 2011 Nuestra historia, Mabel Rosales: 2007 Las Horas; 2008 - 2009 Maté a un tipo; 2010 Cuatro ensayos de mujeres; 2011 Nuestra historia y 2013 El velorio de la azafata, José Ferrer: 2005 Vamos por más y 2011 Nuestra historia; Ana Faistein: 2005 Vamos por más; 2007 Las horas y 2009 Entrevista de trabajo quienes participaron de Versión Teatro desde sus orígenes en 2005, notablemente emocionados agradecieron el gesto y el orgullo de haber sido parte.
        <br /> <br />Quienes entregaron las estatuillas y los certificados en reconocimiento Por su participación activa y comprometida en las producciones realizadas por el elenco durante sus años de servicio en la institución fueron, por parte del H. Tribunal de Cuentas: Mario Angelini Vocal contador, Silvia Raffa Directora del área Descentralizadas II y Graciela Salvo Directora de AIC, también nos acompañó el representante del INT Instituto Nacional del Teatro Sacha Barrera Oro, actor, director y dramaturgo del medio local.
        <br /> <br />Con gran cantidad de asistencia en la sala Tito Francia, la obra asombró y cautivó a propios y extraños una vez más, en esta oportunidad con la participación especial de Leila Giadas, quien se vino desde Ushuaia Tierra del Fuego para la presentación y así compartir escenario con Sara Santos, Carolina Kokotoff, Florencia Pedraza e Ingrid Manzano, finalizando así un año de grandes experiencias y de crecimiento colectivo todo gracias al teatro. Sólo queda agradecer a las autoridades del Tribunal de Cuentas de Mendoza y a todo su personal, al Tribunal de Cuentas de Catamarca, a Raquel Perlo y Víctor Villarroel, al Consejo académico del IETEI, a Leila Giadas y Eduardo Bonafede, a los Senadores Marcelo Rubio y David Sáez, al personal de protocolo del Senado de la provincia de Mendoza, al personal de la NAVE Cultural y del espacio cultural Julio Le Parc, y muy especialmente a Eugenio Aragón, Silvia Estrella y Leticia Sosa siempre dispuestos a colaborar. Vamos por más que dieciocho años no son nada.
    </p>
</div>


@* ----------- FIN VERSION TEATRO -----------*@



<NavLink type="button" class="text-black mt-md-5" href="/">  <img class="me-2" width="32" height="32" src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>



@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llama a CuadroFallos() solo en la primera renderización
            await Trabajo();
        }
    }

    private async Task Trabajo()
    {
        try
        {
            await JS.InvokeVoidAsync("Jornadas");
            Console.WriteLine("La función cuadroFallos se ejecutó correctamente.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al ejecutar cuadroFallos: {ex.Message}");
        }
    }
}
