@page "/actividades"
@inject IJSRuntime JS

<PageTitle>Actividades</PageTitle>


<div class="mb-5">



</div>


@* 
<div class="row align-items-center d-flex flex-wrap mt-5">
    <h2 class="col">Grupo de Responsabilidad Social</h2>

</div>

<h3>Colecta ayuda permanente a merendero <strong><i>“Milagros de Dios”</i></strong></h3>

<p>
    El grupo de Mejora de Responsabilidad Social colaboró con el merendero "Milagros de Dios" que está ubicado en Rodeo
    del Medio, Guaymallén.

    Se entregaron distintos elementos como ropa, impresoras, mercadería etc. Seguimos trabajando con empatía para ayudar
    a los que nos necesitan.
</p>


<div id="respsoc" class="carousel slide mb-5 mt-4">

    <BSCarousel HasControls="true">
        <BSCarouselItem>
            <img src="img/GRS/resp-soc-1.jpg" class="d-block w-100" alt="Responsabilidad Social">
        </BSCarouselItem>
        <BSCarouselItem>
            <img src="img/GRS/resp-soc-2.jpg" class="d-block w-100" alt="Responsabilidad Social">
        </BSCarouselItem>
    </BSCarousel>


</div>



<p>
    Estamos convencidos de que podemos generar una transformación positiva con iniciativas que están encaminadas a
    contribuir con un mundo mejor para todos.

    Ser responsables con el entorno que nos rodea planteando acciones justas y de consenso para mejorar la calidad de
    vida de los individuos y buscar una sociedad más cohesionada es una responsabilidad de todos , seguiremos trabajando
    en este camino.
</p>


<h3 class="mt-5">Colecta para armar mochilas completas <strong><i>“Proyecto Mochi”</i></strong></h3>

<p>
    "Proyecto Mochi " es una iniciativa de un grupo de personas que todos los años reúnen donaciones para que los chicos
    que lo necesitan.

    El objetivo es que cada niño cuente con todos los útiles para el comienzo de las clases.

</p>

<div id="mochi" class="carousel slide mb-5 mt-4">

    <BSCarousel HasControls="true">
        <BSCarouselItem>
            <img src="img/GRS/mochi-1.jpg" class="d-block w-100" alt="Responsabilidad Social">
        </BSCarouselItem>
        <BSCarouselItem>
            <img src="img/GRS/mochi-2.jpg" class="d-block w-100" alt="Responsabilidad Social">
        </BSCarouselItem>

    </BSCarousel>

</div>

<p>
    El Tribunal de Cuentas, a través del Grupo de Mejora de Responsabilidad Social, se encargó de recaudar todo lo
    necesario para colaborar con esta causa tan noble.

    Se han completado 19 mochilas con los útiles necesarios para donar a la escuela Martín Miguel de Güemes de Palmira.
    Esto representa el 1% del total necesario del objetivo que se plantearon los encargados del "Proyecto Mochi" para el
    2024.

    Queremos agradecer a todos los que se sumaron porque sabemos que la educación es la mejor herramienta para cambiar
    la realidad.
</p>

<p class="mb-5">
    <strong>OTRAS ACCIONES SOLIDARIAS</strong><br /><br />
    Recolección de tapitas plásticas en tachos de cada piso para ACUNAR. <br />
    Recolección de pilas y baterías.<br />
    Reciclado de papel de la documentación prescripta de archivo de las áreas en Giol

</p> *@

@* ----------- VERSION TEATRO -----------*@

<h2 class="mt-5 mb-4">Versión Teatro</h2>
<h4 class="mb-4">Espacio lúdico expresivo </h4>


<p>
    Durante el mes de abril se desarrolló el taller lúdico expresivo, con cuatros encuentros consecutivos los días
    viernes 5, 12, 19 y 26, y con una duración de 40 minutos cada uno de ellos. Los mismos se desarrollaron en
    nuestro espacio expresivo, con el principal objetivo de recuperar la capacidad lúdica, en el que a través de
    juegos y ejercicios teatrales se potenciaron las capacidades de atención y concentración. <br>
    Del mismo participaron 19 agentes colaboradores del Tribunal de Cuentas de Mendoza, con el deseo de integrarse y
    adquirir herramientas que los motorice en su crecimiento personal y fortifique el trabajo en equipo.

</p>

<BSCarousel HasControls="true">
    <BSCarouselItem>
        <img src="img/version-teatro/espacio-ludico-teatro.jpeg" class="d-block w-100" alt="versión teatro">
    </BSCarouselItem>
    <BSCarouselItem>
        <img src="img/version-teatro/espacio-ludico-teatro-2.jpeg" class="d-block w-100" alt="versión teatro">
    </BSCarouselItem>

</BSCarousel>




<h4 class="mt-5">Declaración de Ciudadana Ilustre – Lita Tancredi </h4>

<div class="row mt-2 gap-5">
    <p class="col">

        Invitados por la Dirección de Cultura de la municipalidad de la ciudad de Mendoza, acompañamos a Lita Tancredi
        en el emotivo, necesario y merecido homenaje que le brindó la ciudad de Mendoza. Gracias a su generosa
        amabilidad nuestro elenco Versión Teatro, habitó su sala como propia durante muchos años.
        Allí, en su centro cultural de calle Montecaseros, convenio de por medio con el Tribunal de Cuentas,
        participamos semanalmente durante un puñado de años de los talleres de teatro, además, allí estrenamos nuestras
        producciones: Divinidad pájara 2006, Las horas 2007, Maté a un tipo 2008, Entrevista de trabajo 2009, Cuatro
        ensayos de mujeres 2010, ensayamos todo el proceso de Nuestra historia 2011 que estrenamos en auditorio Ángel
        Bustelo, El velorio de la azafata 2012 y Origen Hamlet 2016. Gracias Lita por tus consejos siempre desde el
        amor. Te queremos mucho ciudadana ilustre. (Foto Mendoza Ciudad)
    </p>
    <img src="img/version-teatro/lita-tancredi.jpg" class="h-100 col-5" alt="Diego Rios" />


</div>


<h4 class="mt-5">Encarnación en gira </h4>

<p>

    Con una cálida recepción en los departamentos de Junín, Lavalle y San Martín, que se caracterizó por la
    generosidad de su gente; alumnos; docentes directivos de los colegios, jóvenes y centros de adultos, los
    municipios abrieron las puertas de sus mejores salas teatrales y dispusieron de su personal a nuestro servicio,
    todos valoran nuestra actividad, resaltando el espacio expresivo de nuestro organismo, como un plus que destaca
    el compromiso con el personal y con el arte.
    <br> Para este 2024, Versión Teatro se planteó como objetivo recorrer los departamentos más alejados de la
    provincia de Mendoza con su espectáculo teatral: Yo, Encarnación Ezcurra. De esta manera, el elenco del Tribunal
    de Cuentas de Mendoza, y con el beneplácito de un puñado de municipios, se trasladó a los departamentos más
    alejados de la ciudad, entendiendo que la oferta teatral y cultural en los departamentos del área metropolitana
    es variada, permanente y en cantidad.
    <br> Con el objetivo esencial, trazado en la creación del elenco allá por 2005: de hacer conocer a la comunidad
    mendocina la tarea que realiza nuestra institución, el Tribunal de Cuentas se hizo visible en un ámbito ajeno a
    los procesos de Fiscalización y Juicio de Cuentas a través de una actividad teatral de su elenco con la obra de
    Cristina Escofet.
    <br><br>

   
</p>

    <BSCarousel HasControls="true">
        <BSCarouselItem>
            <img src="img/version-teatro/encarnacion-gira-1.jpeg" class="d-block w-100" alt="versión teatro">
        </BSCarouselItem>
        <BSCarouselItem>
            <img src="img/version-teatro/encarnacion-gira-2.jpeg" class="d-block w-100" alt="versión teatro">
        </BSCarouselItem>
        <BSCarouselItem>
            <img src="img/version-teatro/encarnacion-gira-3.jpeg" class="d-block w-100" alt="versión teatro">
        </BSCarouselItem>

    </BSCarousel>

<p class="mt-5"> Las primeras funciones programadas incluyeron a los departamentos de Junín, Lavalle y General San
    Martín, el día jueves 27 de junio se representó en la Casa del Bicentenario de La Colonia, Junín, para los
    colegios secundarios de la zona, dentro de la agenda por los festejos de los 25 años de La Colonia como ciudad.
    Y el mismo 27 en el departamento de Lavalle para jóvenes y los centros de Jubilados de la Villa Tulumaya en la
    Casa de la Cultura Juanita Vera. Finalizando en el departamento de General San Martín, en el Cine Teatro Colón
    de Palmira, en la programación de los actos oficiales en conmemoración del fallecimiento del General José de San
    Martín, con dos funciones a sala llena, el día 15 de agosto para colegios secundarios del distrito del este y
    las cooperativas de trabajo. Cabe celebrar que más de 1.000 espectadores, de diferentes estratos sociales de las
    comunidades mencionadas, nos acompañaron en estas cuatro funciones, conociendo la vida, pasión y muerte de una
    política de agallas en un momento en que, a las mujeres, el orden de lo político les estaba negado.
    <br> Esta aventura, nos permitió también vincularnos desde otro lugar con quienes compartimos charlas
    distendidas, sus expectativas y su mirada acerca del teatro y la historia.</p>




@* ----------- FIN VERSION TEATRO -----------*@



<NavLink type="button" class="text-black mt-md-5" href="/"> <img class="me-2" width="32" height="32"
        src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>



@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llama a CuadroFallos() solo en la primera renderización
            await Trabajo();
        }
    }

    private async Task Trabajo()
    {
        try
        {
            await JS.InvokeVoidAsync("Jornadas");
            Console.WriteLine("La función cuadroFallos se ejecutó correctamente.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al ejecutar cuadroFallos: {ex.Message}");
        }
    }
}
