@page "/auditoria-externa"

<PageTitle>Auditoría Externa</PageTitle>


<div class="row-cols-2 d-flex flex-wrap align-items-center mb-5 justify-content-center gap-5">
    <h1 >Auditorías externas del Banco Interamericano de Desarrollo </h1>
    <img class=" w-25" src="img/BID.png" />
</div>

<p>
    El Tribunal fue evaluado por el Banco Interamericano de Desarrollo en el “Marco de Medición de Desempeño para
    entidades fiscalizadoras Superiores” de la INTOSAI (Organización Internacional de Entidades Fiscalizadoras
    Superiores) y como resultado de ello determinó que <strong>
        “el Banco Interamericano de Desarrollo (BID), puede
        descansar en
        el Tribunal de Cuentas de la Provincia de Mendoza, la realización de auditoría externa de las operaciones que el
        Banco financie en la Provincia de Mendoza"
    </strong>. Por ello, en el año 2024 se continuó con la actividad de
    auditoría para
    ese organismo internacional de crédito.
</p>

<p>
    Durante el 2024 se realizó la auditoría del Programa 4779, “Proyecto de Mejora Ruta Provincial Nº82”,
    correspondiente el ejercicio 2023. Se emitieron los informes del auditor e informe de control interno.
</p>




<BSCard CardType="CardType.Card" Class="d-flex flex-row gap-2 mt-4">
    <BSCard CardType="CardType.Image" Class="img-fluid rounded-start w-25" src="img/red-federal.jpg"
        alt="Red Federal de Control" />
    <BSCard CardType="CardType.Body" Class="p-4">
        <BSCard CardType="CardType.Title">Red Federal de Control</BSCard>
        <BSCard CardType="CardType.Text">
            El Tribunal de Cuentas de la Provincia de Mendoza, por Acuerdo Nº 3.728 del 26 de mayo de 2004,
            adhirió al Convenio de Coordinación y Cooperación Técnica celebrado entre el Secretariado
            Permanente de Tribunales de Cuentas, Órganos y Organismos Públicos de Control Externo de la
            República Argentina y la Red Federal de Control Público. <br>
            En cumplimiento de dicho Convenio, se ha continuado con la labor de auditoría sobre los
            distintos planes y/o programas desarrollados por los distintos ministerios que componen la Red
            Federal.<br>
            Las distintas Unidades de Auditoría Interna continuaron con la realización de talleres virtuales
            en los que se expusieron pormenores de cada programa y se brindaron detalles sobre los puntos de
            control sugeridos.
        </BSCard>
        <BSButton Color="BSColor.Primary" Target="modal1">Leer mas...</BSButton>
    </BSCard>
</BSCard>




<NavLink type="button" class="text-black mt-md-5" href="/"> <img class="me-2" width="32" height="32"
        src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>


<BSModal DataId="modal1" Size="Size.ExtraLarge">
    <Header>Se llevaron a cabo las siguientes auditorías durante el año 2024</Header>
    <Content>

        <div class="container-fluid row gap-3 justify-content-center mb-4">
            <BSCard CardType="CardType.Card" style="width: 18rem;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    <h5 class="fw-bold"> MINISTERIO DE SALUD </h5>
                </BSCard>
                <BSCard CardType="CardType.Text"> Plan nacional de vacunación COVID - 19 <br> 
                Provisión de medicamentos esenciales, insumos y tecnología </BSCard>
            </BSCard>
        </BSCard>

        <BSCard CardType="CardType.Card" style="width: 18rem;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    <h5 class="fw-bold"> SECRETARÍA DE TRABAJO</h5>
                </BSCard>
                <BSCard CardType="CardType.Text"> Plan de formación profesional y continua</BSCard>
            </BSCard>
        </BSCard>

        <BSCard CardType="CardType.Card" style="width: 18rem;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    <h5 class="fw-bold"> SECRETARÍA NACIONAL SOBRE NIÑEZ,
                ADOLESCENCIA Y FAMILIA </h5>
                </BSCard>
                <BSCard CardType="CardType.Text"> Acciones federales para el desarrollo de la primera
                infancia <br> Comedores escolares</BSCard>
            </BSCard>
        </BSCard>


        <BSCard CardType="CardType.Card" style="width: 18rem;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    <h5 class="fw-bold"> SUBSECRETARÍA DE AMBIENTE Y DESARROLLO
                SOSTENIBLE</h5>
                </BSCard>
                <BSCard CardType="CardType.Text"> Seguimiento observaciones sistema nacional de manejo
                del fuego
                y bosques nativos </BSCard>
            </BSCard>
        </BSCard>


        <BSCard CardType="CardType.Card" style="width: 18rem;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    <h5 class="fw-bold"> MINISTERIO DE EDUCACIÓN </h5>
                </BSCard>
                <BSCard CardType="CardType.Text"> Evaluación y regularización de las rendiciones de
                cuentas pendientes
                <br>INET – Instituto Nacional de Educación Tecnológica</BSCard>
            </BSCard>
        </BSCard>


        <BSCard CardType="CardType.Card" style="width: 18rem;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    <h5 class="fw-bold"> AGENCIA NACIONAL DE DISCAPACIDAD</h5>
                </BSCard>
                <BSCard CardType="CardType.Text">Programa federal incluir salud </BSCard>
            </BSCard>
        </BSCard>
        </div>
        <p class="ps-5 pe-5 mb-5">
                El día 10 de diciembre de 2024 se llevó a cabo en la sede de S.I.G.E.N., en la Ciudad Autónoma de Buenos
                Aires, la reunión del Comité de Auditoría de la Red Federal de Control Público y el día 12 se
                desarrollaron,
                en forma virtual, las jornadas de planificación para el 2025, junto al resto de los integrantes de la
                Red:
                <strong> Tribunales de Cuentas, Auditorias Generales, Sindicaturas Provinciales y Unidades de Auditoría
                    Interna de
                    los Ministerios Nacionales.</strong> <br> Una vez más se reiteró la intención de la Red Federal, de
                realizar las
                auditorías y contar con los informes correspondientes dentro del ejercicio auditado. <br> En función de
                la
                importancia que adquieren en la Provincia los distintos planes, el Tribunal de Cuentas de Mendoza ha
                previsto llevar a cabo las auditorías propuestas por los distintos Organismos Nacionales para el
                Ejercicio
                2025, de acuerdo al siguiente esquema:
            </p>

<div class="container row gap-3 justify-content-center ">
    <BSCard CardType="CardType.Card" style="width: 18rem;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    <h5 class="fw-bold"> MINISTERIO DE SALUD </h5>
                </BSCard>
                <BSCard CardType="CardType.Text"> Prevención y Control de Enfermedades Transmisibles
                e Inmunoprevenibles</BSCard>
            </BSCard>
        </BSCard>

<BSCard CardType="CardType.Card" style="width: 18rem;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    <h5 class="fw-bold">SECRETARIA DE AGRICULTURA, GANADERÍA Y
                PESCA </h5>
                </BSCard>
                <BSCard CardType="CardType.Text">Sistema nacional para la prevención y mitigación de
                Emergencias y Desastres Agropecuarios </BSCard>
            </BSCard>
        </BSCard>

<BSCard CardType="CardType.Card" style="width: 18rem;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    <h5 class="fw-bold">SECRETARIA DE EDUCACIÓN </h5>
                </BSCard>
                <BSCard CardType="CardType.Text"> Comedores Escolares</BSCard>
            </BSCard>
        </BSCard>

<BSCard CardType="CardType.Card" style="width: 18rem;">
            <BSCard CardType="CardType.Body">
                <BSCard CardType="CardType.Title">
                    <h5 class="fw-bold">AGENCIA NACIONAL DE DISCAPACIDAD </h5>
                </BSCard>
                <BSCard CardType="CardType.Text">Programa Federal Incluir Salud </BSCard>
            </BSCard>
        </BSCard>

</div>



    



    </Content>

</BSModal>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>



@code {
    private BSModal modal1;

    public AuditoriaExterna()
    {
        modal1 = new BSModal();
    }

    private async Task OpenModal()
    {
        if (modal1 != null)
            await modal1.ToggleAsync();
    }
}
