@page "/calidad"
@inject IJSRuntime JS

<PageTitle>Calidad</PageTitle>


<h1 class="mb-1">Sistema de Calidad</h1>
<h3 class="mb-3">Proceso de Mejora Contínua</h3>

<p>
    El Tribunal de Cuentas, ha elegido para su Sistema de gestión, el Modelo de las Normas ISO 9001:2015, así como también el del Marco de Medición de Desempeño para Entidades Fiscalizadoras Superiores (MDEFS) de INTOSAI (Organización Internacional de Entidades Fiscalizadoras Superiores). Ambos son Modelos Internacionales que plantean para las organizaciones desafíos de gestión alineados a la eficiencia y la eficacia de las Instituciones con una mirada puesta en la Mejora Continua.
    <br /><br />
    En este proceso de mejora permanente, y en función de la necesidad de continuar trabajando en un contexto lleno de cambios y desafíos, el Tribunal construyó un Plan de Mejora Continua con objetivos y acciones estratégicas claras, basados en el Los OBJETIVOS DE LA CALIDAD se encuentran plasmados en el Acuerdo 6506. El Plan de Acción 2024 se aprobó por Acuerdo 6598. Se trabajó en el rediseño de los documentos de la calidad relacionados con los Procedimientos específicos, enfocando los mismos a los subprocesos definidos en cada Procedimiento general (Fiscalización, Juicio de Cuentas, procesos de Apoyo).
    <br /> <br /> 
    Como ha sido mencionado en los párrafos precedentes, se trabaja enmarcados en la Mejora continua, para lo cual se trabaja en la renovación de los documentos del Sistema de gestión, que enmarcan el desarrollo de las tareas y actividades de todas los Sectores del Tribunal. En este sentido durante 2024, y partir de la implementación de un Procedimiento de Gestión del cambio, se mantuvieron varias reuniones entre los sectores involucrados a fin de gestionar e implementar exitosamente cambios, sobre todo desde aspectos relacionados al Expediente Digital y diversos sistemas para gestión del organismo.


</p>

@* <h1 class="mb-1 mt-5">Medición del Desempeño de los Procesos </h1>
<h3 class="mb-3">Supervisión y monitoreo del sistema de control interno</h3>
<p>
    Como parte del sistema de control interno, la Dirección de Auditoría Interna y Control de Procesos del Tribunal,
    trabaja con un cuerpo de Auditores internos formado por agentes del mismo tribunal, analizando el desempeño de los
    procesos de distintos sectores y proponiendo mejoras a los mismos. Por otra parte, se lleva a cabo el monitoreo
    permanente a través del SIGESCO, (Sistema de Gestión y Control del Tribunal), el cual arroja indicadores en forma
    automática. <br><br>
    Durante el año 2024, se realizaron diversos informes sobre la gestión de la institución, relacionados con los costos
    de los procesos, subprocesos, seguimiento de las planificaciones, cumplimiento de metas, informes de encuesta a
    funcionarios, cumplimiento de la fiscalización, etc., los cuales contribuyen a la toma de decisiones de la Alta
    Dirección. Estos informes, quedan plasmados, en un Informe de Revisión Anual de todo el organismo, el cual se
    realizó en un período intermedio a setiembre de 2024, y luego al final del año. <br><br>
    Si consideramos que el producto final del Tribunal es el Fallo de la cuenta, el que resume tanto los procesos de
    Fiscalización como de Juicio de Cuentas, se expone uno de los indicadores vinculados al tiempo de emisión de los
    fallos. De acuerdo a la normativa legal el Tribunal tiene un año para fallar las cuentas desde su presentación, pero
    existe una meta interna de 8 meses (aproximadamente 240 días) para poder fallar las cuentas, la cual se refleja en
    el cronograma del Juicio de Cuentas vigente para SIGESCO.



</p>

<div class="d-flex flex-column">
    <canvas style="height: 80vh;" class="mt-5" id="calidad"></canvas>
    <small class="text-center m-0 p-0 text-secondary"> El ejercicio 2023, aún no tiene los datos definitivos al 31-12-24
        porque no se encuentran todas las cuentas falladas</small>
</div> *@


<div class="mt-5">
    <h1>Grupos de Mejora</h1>

    <p>
        Son equipos de trabajo dedicados a la mejora constante de la calidad. La idea del trabajo en grupo se basa en el
        reconocimiento de que la calidad es competencia de todos y que quienes mejor conocen los procesos de trabajo son
        quienes los realizan diariamente. <br /><br />
        Los Grupos de Mejora tienen como misión identificar, analizar y proponer soluciones a ineficiencias del propio
        trabajo o actividad. Generalmente son equipos "temporales" que se concentran en el análisis que realizan de sus
        propios procesos de trabajo y las propuestas que logran llevar adelante para mejorar dichos procesos.

    </p>




    <div class="text-start d-flex flex-column gap-3 mt-3">
        <BSLink Color="BSColor.Primary" Target="costeo" Class="fs-5 text-primary"> COSTEO Y PLANIFICACIÓN <svg
                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
            </svg> </BSLink>

        <BSCollapse DataId="costeo">
            <BSCard CardType="CardType.Card" Class="bg-transparent border-0">
                <p>
                    Se trabajó en la propuesta Integral para mejorar el Sistema de Costeo y Planificación, que impacta
                    directamente en la Planificación estratégica del Tribunal, así como en la planificación de cada
                    Sector y finalmente en la Planificación Digital de las Cuentas.
                    <br>
                    Durante 2024, se trabajó en la mejora de este Sistema, que se encuentra incluido e incorporado al
                    Sistema de Gestión del Tribunal. Entre los aspectos trabajados, y en pos de mejorar los procesos de
                    control en los procesos internos del Tribunal, a partir del seguimiento de la Planificación de las
                    cuentas y su cumplimiento, se realizaron las siguientes actividades: <br><br>

                    <BSListGroup>
                        <BSListGroupItem Class="bg-transparent p-4"> <svg class="me-3"
                                xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="#333333"
                                    d="M7 13.616q.252 0 .434-.182T7.615 13t-.181-.434T7 12.385t-.434.181t-.181.434t.181.434t.434.182m0-4q.252 0 .434-.182T7.615 9t-.181-.434T7 8.385t-.434.181T6.385 9t.181.434t.434.182M9.116 13.5H17.5v-1H9.116zm0-4H17.5v-1H9.116zM9 20v-2H4.616q-.691 0-1.153-.462T3 16.384V5.616q0-.691.463-1.153T4.615 4h14.77q.69 0 1.152.463T21 5.616v10.769q0 .69-.463 1.153T19.385 18H15v2zm-4.384-3h14.769q.23 0 .423-.192t.192-.424V5.616q0-.231-.192-.424T19.385 5H4.615q-.23 0-.423.192T4 5.616v10.769q0 .23.192.423t.423.192M4 17V5z" />
                            </svg> Se mejoró el desarrollo de la Planificación Digital
                            para en cada caso se tenga como base el TIPO DE
                            ENTE de que se trate, en función de los parámetros que cada organismo tenga.
                        </BSListGroupItem>

                        <BSListGroupItem Class="bg-transparent p-4"> <svg class="me-3"
                                xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14">
                                <g fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M4 12.5H1.5a1 1 0 0 1-1-1v-10a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v6m-13-4h13" />
                                    <path
                                        d="M13.42 12.61a.62.62 0 0 1-.203.81a.55.55 0 0 1-.287.08H7.06a.55.55 0 0 1-.49-.3a.62.62 0 0 1 0-.59l2.95-5.32a.54.54 0 0 1 1 0zM10 10.5v-1" />
                                    <path d="M9.995 12.125a.125.125 0 0 1 0-.25m0 .25a.125.125 0 1 0 0-.25" />
                                </g>
                            </svg> Se trabajó en la mejora del Análisis de la materialidad
                            y redefinición de los
                            componentes del riesgo por cuenta (Conocimiento del Ente).</BSListGroupItem>


                        <BSListGroupItem Class="bg-transparent p-4"> <svg class="me-3"
                                xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                <path fill="none" stroke="#333333" stroke-width="1.5"
                                    d="M9 21h6m-6 0v-5m0 5H3.6a.6.6 0 0 1-.6-.6v-3.8a.6.6 0 0 1 .6-.6H9m6 5V9m0 12h5.4a.6.6 0 0 0 .6-.6V3.6a.6.6 0 0 0-.6-.6h-4.8a.6.6 0 0 0-.6.6V9m0 0H9.6a.6.6 0 0 0-.6.6V16" />
                            </svg> Se realizaron distintos informes de gestión, a las
                            autoridades de la situación
                            de la planificación y
                            el llenado de Costeo de las actividades de la organización, lo cual sirve como insumo para
                            la mejora
                            de procesos, como también para la toma de decisiones en base a datos ciertos de los costos
                            de los
                            procesos, actividades, etc.</BSListGroupItem>

                    </BSListGroup>









                </p>
            </BSCard>
        </BSCollapse>


        <BSLink Color="BSColor.Primary" Target="auditoria" Class="fs-5 text-primary"> MANUAL DE AUDITORÍA <svg
                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
            </svg></BSLink>
        <BSCollapse DataId="auditoria">
            <BSCard CardType="CardType.Card" Class="bg-transparent border-0">
                <BSListGroup>
                    <BSListGroupItem Class="bg-transparent p-4">Se realizó una revisión permanente de la estructura y
                        contenido del manual de auditoría conforme a las normas legales y profesionales vigentes. Se ha
                        realizado la revisión y actualización de Normas Generales-Normativa Provincial e Internacional.
                        Se actualizó la normativa, y verificaron las instrucciones de trabajo relacionadas en cada uno
                        de los apartados y por tipo de ente auditado
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4">Se ha verificado la existencia de modificaciones y
                        revisiones por parte de la INTOSAI de las normas internacionales de auditoria ISSAI.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4">Se trabajó en la incorporación al Manual de Auditoría de
                        los Check List aplicables a entes privados del sector público. (RT 54 de la FACPCE)
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4">Se solicitó y trabajó en Instrucciones de trabajo
                        necesarias para la labor de auditoría en el análisis de las rendiciones de cuentas, como las
                        relacionadas por ejemplo a Viáticos, Concesiones, Recursos Propios de los Organismos
                        cuentadantes, Revisión del presupuesto y sus modificaciones.
                    </BSListGroupItem>
                </BSListGroup>
            </BSCard>
        </BSCollapse>


        <BSLink Class="text-uppercase fs-5 text-primary" Color="BSColor.Primary" Target="tecno"> Auditoría de las
            Tecnologías de la Información <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
            </svg> </BSLink>
        <BSCollapse DataId="tecno">
            <BSCard CardType="CardType.Card" Class="bg-transparent border-0">
                <BSListGroup>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-4" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M3 21v-2l2-2v4zm4 0v-6l2-2v8zm4 0v-8l2 2.025V21zm4 0v-5.975l2-2V21zm4 0V11l2-2v12zM3 15.825V13l7-7l4 4l7-7v2.825l-7 7l-4-4z"/></svg> Se trabajó en monitoreo y actualización de Guías de los
                        controles automáticos de LRF, sueldos, Cuentas por cobrar y Rendiciones mensuales y anuales.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-4" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M3 21v-2l2-2v4zm4 0v-6l2-2v8zm4 0v-8l2 2.025V21zm4 0v-5.975l2-2V21zm4 0V11l2-2v12zM3 15.825V13l7-7l4 4l7-7v2.825l-7 7l-4-4z"/></svg> Se avanzó en monitoreo y actualización de Rutinas para
                        el control de los anexos contables que remiten los cuentadantes en las presentaciones mensuales
                        / periódica.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-4" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M3 21v-2l2-2v4zm4 0v-6l2-2v8zm4 0v-8l2 2.025V21zm4 0v-5.975l2-2V21zm4 0V11l2-2v12zM3 15.825V13l7-7l4 4l7-7v2.825l-7 7l-4-4z"/></svg> Se mejoraron los Controles al informe preliminar, para
                        poder realizarlos a todos los organismos cuentadantes.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-4" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M3 21v-2l2-2v4zm4 0v-6l2-2v8zm4 0v-8l2 2.025V21zm4 0v-5.975l2-2V21zm4 0V11l2-2v12zM3 15.825V13l7-7l4 4l7-7v2.825l-7 7l-4-4z"/></svg> Se actualizó la Instrucción de Trabajo sobre Seguridad
                        Informática, y la Instrucción de Riesgo.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-4" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M3 21v-2l2-2v4zm4 0v-6l2-2v8zm4 0v-8l2 2.025V21zm4 0v-5.975l2-2V21zm4 0V11l2-2v12zM3 15.825V13l7-7l4 4l7-7v2.825l-7 7l-4-4z"/></svg> Determinación y planificación para la generación de
                        nuevas Rutinas de control necesarias para automatizar.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-4" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"/><path fill="#333333" d="M10 2a4 4 0 0 1 3.46 1.99l.098.182l.638-.368a4 4 0 0 1 5.475 5.446l-.113.186l.638.368a4 4 0 0 1-1.979 7.464L18 17.264V18a4 4 0 0 1-7.459 2.01l-.1-.182l-.637.368a4 4 0 0 1-5.475-5.446l.113-.186l-.638-.368a4 4 0 0 1 1.979-7.464L6 6.736V6a4 4 0 0 1 4-4m4.702 10.788l-.068 4.059a1 1 0 0 1-.391.777l-.109.072l-1.956 1.13a2.002 2.002 0 0 0 3.817-.677L16 18v-4.434l-1.298-.779Zm-2.033 1.946l-3.55 1.97a1 1 0 0 1-.985-.008l-1.956-1.13a2.001 2.001 0 0 0 2.626 2.898l3.84-2.217zm2.687-5.415l-1.323.735l3.482 2.089A1 1 0 0 1 18 13v2.259a2.002 2.002 0 0 0 1.196-3.723zM6 8.74a2.001 2.001 0 0 0-1.328 3.64l.132.083l3.84 2.217l1.323-.735l-3.482-2.088a1 1 0 0 1-.477-.728L6 11zM10 4a2 2 0 0 0-2 2v4.434l1.298.779l.068-4.06a1 1 0 0 1 .5-.85l1.956-1.129A2 2 0 0 0 10 4m7.928 2.268a2 2 0 0 0-2.594-.805l-.138.073l-3.84 2.217l-.025 1.513l3.55-1.97a1 1 0 0 1 .868-.05l.117.058l1.957 1.13c.442-.62.51-1.465.105-2.166"/></g></svg> Incorporación del uso de la IA
                    </BSListGroupItem>

                </BSListGroup>
            </BSCard>
        </BSCollapse>





        @* <BSLink Class="text-uppercase fs-5 text-primary" Color="BSColor.Primary" Target="higiene"> Higiene y Salud
            Ocupacional <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
            </svg> </BSLink>
        <BSCollapse DataId="higiene">
            <BSCard CardType="CardType.Card" Class="bg-transparent border-0">
                <p>
                    Se realizaron 2 simulacros de sismos, uno en forma conjunta con Defensa Civil del Gobierno de
                    Mendoza y
                    uno sorpresivo para el personal del Tribunal.<br />
                    Se trabaja en forma permanente, mediante los Brigadistas de cada piso, en la renovación de los
                    botiquines correspondientes.<br />
                    Se realizó conjuntamente con el Ministerio de Salud el programa de vacunación institucional, se
                    aplicó
                    la dosis de Sarampión y COVID-19 a 37 agentes del HTC. Por otra parte, se realizó conjuntamente con
                    el
                    Decano de la Facultad de Cs. Médicas de la Universidad del Aconcagua, Dr. Ángel Pellegrino, un
                    convenio
                    para que los agentes del tribunal sean inoculados con distintas vacunas a 35 agentes del HTC.<br />
                    Se realizó conjuntamente con el cuerpo de Brigadistas de Casa de Gobierno un taller para evaluación
                    de
                    personas con discapacidad en la nave cultural.<br />
                    Se realizó el día 22/04 curso taller sobre cesación tabáquica, brindado por el Dr. Lucas Romero.
                    (OSEP)<br />
                    El día 12 de mayo se realizó un curso sobre Primeros Auxilios Psicológicos, organizado por Defensa
                    Civil
                    de la Provincia en el Casino de Mendoza, donde participó el cuerpo de Brigadistas del HTC. (Sector
                    Capacitación)<br />
                    Se adquirieron 2 desfibriladores, uno para cada uno de los edificios.<br />
                    Se organizó conjuntamente con el Grupo de Mejora de Responsabilidad Social y con el Centro de
                    Hemoterapia de la Provincia la primera campaña de donación de sangre.<br />

                </p>
            </BSCard>
        </BSCollapse> *@


        <BSLink Class="text-uppercase fs-5 text-primary" Color="BSColor.Primary" Target="social"> Responsabilidad Social
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
            </svg>
        </BSLink>
        <BSCollapse DataId="social">
            <BSCard CardType="CardType.Card" Class="bg-transparent border-0">
                Con la colaboración de todo el personal del Tribunal y bajo la coordinación del Grupo se ha logrado
                <BSListGroup>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M17.95 16.175L15.1 13.35l1.425-1.4l1.425 1.4l3.525-3.525l1.425 1.4zM11 21l-3.175-2.85q-1.8-1.625-3.088-2.9t-2.125-2.4t-1.225-2.175T1 8.475q0-2.35 1.575-3.912T6.5 3q1.3 0 2.475.55T11 5.1q.85-1 2.025-1.55T15.5 3q2.025 0 3.4 1.138T20.775 7H18.65q-.45-1-1.325-1.5T15.5 5q-1.275 0-2.2.688T11.575 7.5h-1.15Q9.65 6.375 8.662 5.688T6.5 5q-1.425 0-2.463.988T3 8.474q0 .825.35 1.675t1.25 1.963t2.45 2.6T11 18.3q.65-.575 1.525-1.325t1.4-1.25l.225.225l.488.488l.487.487l.225.225q-.55.5-1.4 1.238t-1.5 1.312z"/></svg> El Tribunal de Cuentas participó, a través del Grupo de
                        Mejora "Responsabilidad Social", de una nueva edición del "Proyecto Mochi". Se entregaron 19
                        mochilas completas.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M17.95 16.175L15.1 13.35l1.425-1.4l1.425 1.4l3.525-3.525l1.425 1.4zM11 21l-3.175-2.85q-1.8-1.625-3.088-2.9t-2.125-2.4t-1.225-2.175T1 8.475q0-2.35 1.575-3.912T6.5 3q1.3 0 2.475.55T11 5.1q.85-1 2.025-1.55T15.5 3q2.025 0 3.4 1.138T20.775 7H18.65q-.45-1-1.325-1.5T15.5 5q-1.275 0-2.2.688T11.575 7.5h-1.15Q9.65 6.375 8.662 5.688T6.5 5q-1.425 0-2.463.988T3 8.474q0 .825.35 1.675t1.25 1.963t2.45 2.6T11 18.3q.65-.575 1.525-1.325t1.4-1.25l.225.225l.488.488l.487.487l.225.225q-.55.5-1.4 1.238t-1.5 1.312z"/></svg> Se realiza una Colecta de ayuda permanente a 3
                        merenderos </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M17.95 16.175L15.1 13.35l1.425-1.4l1.425 1.4l3.525-3.525l1.425 1.4zM11 21l-3.175-2.85q-1.8-1.625-3.088-2.9t-2.125-2.4t-1.225-2.175T1 8.475q0-2.35 1.575-3.912T6.5 3q1.3 0 2.475.55T11 5.1q.85-1 2.025-1.55T15.5 3q2.025 0 3.4 1.138T20.775 7H18.65q-.45-1-1.325-1.5T15.5 5q-1.275 0-2.2.688T11.575 7.5h-1.15Q9.65 6.375 8.662 5.688T6.5 5q-1.425 0-2.463.988T3 8.474q0 .825.35 1.675t1.25 1.963t2.45 2.6T11 18.3q.65-.575 1.525-1.325t1.4-1.25l.225.225l.488.488l.487.487l.225.225q-.55.5-1.4 1.238t-1.5 1.312z"/></svg> Se recolectó calzado e indumentaria para chicos en edad
                        escolar de familias carenciadas, entregándose al Merendero Milagro de Dios.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M17.95 16.175L15.1 13.35l1.425-1.4l1.425 1.4l3.525-3.525l1.425 1.4zM11 21l-3.175-2.85q-1.8-1.625-3.088-2.9t-2.125-2.4t-1.225-2.175T1 8.475q0-2.35 1.575-3.912T6.5 3q1.3 0 2.475.55T11 5.1q.85-1 2.025-1.55T15.5 3q2.025 0 3.4 1.138T20.775 7H18.65q-.45-1-1.325-1.5T15.5 5q-1.275 0-2.2.688T11.575 7.5h-1.15Q9.65 6.375 8.662 5.688T6.5 5q-1.425 0-2.463.988T3 8.474q0 .825.35 1.675t1.25 1.963t2.45 2.6T11 18.3q.65-.575 1.525-1.325t1.4-1.25l.225.225l.488.488l.487.487l.225.225q-.55.5-1.4 1.238t-1.5 1.312z"/></svg> Continuidad de Becas FONBEC, promoción y
                        fortalecimiento.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M17.95 16.175L15.1 13.35l1.425-1.4l1.425 1.4l3.525-3.525l1.425 1.4zM11 21l-3.175-2.85q-1.8-1.625-3.088-2.9t-2.125-2.4t-1.225-2.175T1 8.475q0-2.35 1.575-3.912T6.5 3q1.3 0 2.475.55T11 5.1q.85-1 2.025-1.55T15.5 3q2.025 0 3.4 1.138T20.775 7H18.65q-.45-1-1.325-1.5T15.5 5q-1.275 0-2.2.688T11.575 7.5h-1.15Q9.65 6.375 8.662 5.688T6.5 5q-1.425 0-2.463.988T3 8.474q0 .825.35 1.675t1.25 1.963t2.45 2.6T11 18.3q.65-.575 1.525-1.325t1.4-1.25l.225.225l.488.488l.487.487l.225.225q-.55.5-1.4 1.238t-1.5 1.312z"/></svg> Para el Día del niño, se recolectaron juguetes y dinero
                        para organizar un festejo en el Merendero Milagro de Dios.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M17.95 16.175L15.1 13.35l1.425-1.4l1.425 1.4l3.525-3.525l1.425 1.4zM11 21l-3.175-2.85q-1.8-1.625-3.088-2.9t-2.125-2.4t-1.225-2.175T1 8.475q0-2.35 1.575-3.912T6.5 3q1.3 0 2.475.55T11 5.1q.85-1 2.025-1.55T15.5 3q2.025 0 3.4 1.138T20.775 7H18.65q-.45-1-1.325-1.5T15.5 5q-1.275 0-2.2.688T11.575 7.5h-1.15Q9.65 6.375 8.662 5.688T6.5 5q-1.425 0-2.463.988T3 8.474q0 .825.35 1.675t1.25 1.963t2.45 2.6T11 18.3q.65-.575 1.525-1.325t1.4-1.25l.225.225l.488.488l.487.487l.225.225q-.55.5-1.4 1.238t-1.5 1.312z"/></svg> Se trabaja en la recolección y traslado de papel por
                        piso en tachos verdes con ACUNAR.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M17.95 16.175L15.1 13.35l1.425-1.4l1.425 1.4l3.525-3.525l1.425 1.4zM11 21l-3.175-2.85q-1.8-1.625-3.088-2.9t-2.125-2.4t-1.225-2.175T1 8.475q0-2.35 1.575-3.912T6.5 3q1.3 0 2.475.55T11 5.1q.85-1 2.025-1.55T15.5 3q2.025 0 3.4 1.138T20.775 7H18.65q-.45-1-1.325-1.5T15.5 5q-1.275 0-2.2.688T11.575 7.5h-1.15Q9.65 6.375 8.662 5.688T6.5 5q-1.425 0-2.463.988T3 8.474q0 .825.35 1.675t1.25 1.963t2.45 2.6T11 18.3q.65-.575 1.525-1.325t1.4-1.25l.225.225l.488.488l.487.487l.225.225q-.55.5-1.4 1.238t-1.5 1.312z"/></svg> Se recolectan tapitas plásticas, pilas y baterías por
                        cada piso del edificio, para luego entregar a ACUNAR, con quien se tiene un Convenio.
                    </BSListGroupItem>
                    <BSListGroupItem Class="bg-transparent p-4"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#333333" d="M17.95 16.175L15.1 13.35l1.425-1.4l1.425 1.4l3.525-3.525l1.425 1.4zM11 21l-3.175-2.85q-1.8-1.625-3.088-2.9t-2.125-2.4t-1.225-2.175T1 8.475q0-2.35 1.575-3.912T6.5 3q1.3 0 2.475.55T11 5.1q.85-1 2.025-1.55T15.5 3q2.025 0 3.4 1.138T20.775 7H18.65q-.45-1-1.325-1.5T15.5 5q-1.275 0-2.2.688T11.575 7.5h-1.15Q9.65 6.375 8.662 5.688T6.5 5q-1.425 0-2.463.988T3 8.474q0 .825.35 1.675t1.25 1.963t2.45 2.6T11 18.3q.65-.575 1.525-1.325t1.4-1.25l.225.225l.488.488l.487.487l.225.225q-.55.5-1.4 1.238t-1.5 1.312z"/></svg> Se realiza reciclado de papel de la documentación
                        prescripta de archivo de las áreas en Giol y de archivos calle Catamarca.
                    </BSListGroupItem>
                </BSListGroup>
            </BSCard>
        </BSCollapse>
    </div>


</div>

<NavLink type="button" class="text-black mt-md-5" href="/"> <img class="me-2" width="32" height="32"
        src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llama a CuadroFallos() solo en la primera renderización
            await Quality();
        }
    }

    private async Task Quality()
    {
        try
        {
            await JS.InvokeVoidAsync("Calidad");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error {ex.Message}");
        }
    }
}