@page "/comunicacion"

<PageTitle>Estrategias de Difusión</PageTitle>


<h1 class="mt-5 mb-4">Estrategias de Difusión</h1>

<h5>Durante el año 2024 se realizaron varias actividades de difusión vinculadas con otros organismos de control externo
</h5>


<BSListGroup>
    <BSListGroupItem Class="bg-transparent"> I Jornada de Compliance e Integridad, expuso el <strong>Dr. Gustavo
            Riera</strong> </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent"> Visita Internacional de autoridades del IIA GLOBAL. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent"> Mendoza y China unen lazos económicos y culturales. Invitación al
        <strong>Pte. del HTC Dr. Néstor Parés</strong> del
        embajador de China en Argentina Wang Wei a participar de un ciclo de cine
    </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent"> Visitaron el Tribunal de Cuentas de Mendoza, agentes y funcionarios del
        Tribunal de Cuentas de Catamarca, habiendo
        sido asesorados y capacitados en distintos temas de gestión de nuestra institución. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent"> Reunión con el Tribunal de Cuentas de Córdoba para informar sobre el
        SIGESCO y sus distintos módulos de gestión <br>
        Participación de miembros del HTC de las XV Jornadas de Contadores Municipales y la III Jornada Provincial del
        Sector Público </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent"> El Consejo Profesional de Ciencias Económicas envío una carta de
        agradecimiento reconociendo la participación de los
        expositores del tribunal en las jornadas realizadas. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent"> Participación del Tribunal de Cuentas de Mendoza en el Congreso de Termas
        de Rio Hondo en Santiago del Estero en
        Noviembre 2024. Se informa en Punto 7 de este informe.

    </BSListGroupItem>


</BSListGroup>


<p class="mt-5">También como aporte fundamental al análisis y estudio de los temas de control, se presentaron 6 trabajos
    en el
    <strong> XXVII Congreso de Tribunales de Cuentas Órganos y Organismos Públicos de Control Externo de la República
        Argentina</strong>, en las Termas de Río Hondo de la provincia de Santiago del Estero, en el mes de noviembre de
    2024. <br>
    Los mismos versaron sobre los siguientes temas
</p>



<BSListGroup>
    <BSListGroupItem Class="list-group-item-secondary"> LA REVOLUCIÓN DE LA INTELIGENCIA ARTIFICIAL (IA) EN AUDITORÍA EXTERNA DEL
        SECTOR PÚBLICO: ¿INFIERNO O PARAÍSO?
    </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary text-uppercase"> INTELIGENCIA ARTIFICIAL EN ORGANISMOS DE CONTROL PÚBLICO.
        Desafíos y
        Oportunidades
    </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> INTELIGENCIA ARTIFICIAL, APRENDIZAJE AUTOMÁTICO Y CONTROLES AUTOMÁTICOS
        APLICADO A LA AUDITORÍA CONTABLE
    </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> AUDITORÍA DE RECURSOS TRIBUTARIOS MUNICIPALES Y USO DE TECNOLOGÍA PARA SU
        CONTROL EN EL TRIBUNAL DE CUENTAS DE MENDOZA. LIMITACIONES ACTUALES DE LA IA GENERATIVA
    </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> ESTRUCTURA Y OPINIÓN EN EL INFORME GENERAL Y FALLO
    </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> PRESENCIA DEL DERECHO INTERNACIONAL EN LA CONTRATACIÓN PUBLICA. UN ABORDAJE
        INTEGRADOR DE NORMAS, PRINCIPIOS Y POSTULADO
    </BSListGroupItem>
</BSListGroup>

<h3 class="mt-5">Capacitación para una gestión eficaz</h3>
<h4>Talleres de desarrollo personal</h4>

<p>
    Como parte de los objetivos de los talleres desarrollo personal desde el punto de vista de la organización podemos
    decir que un buen ambiente laboral fomenta el respeto mutuo, lo que facilita la cooperación entre equipos de
    trabajo. Esto permite mejorar la motivación y el compromiso de los empleados, lo que a su vez puede resultar en un
    aumento de la productividad. <br>
    El taller en su totalidad fue dictado por Beatriz Artuso y Melisa Palavecino. La planificación estuvo dividida en
    dos etapas: la primera mitad del año será dictada el módulo 1 “gestión de emociones” para todos los interesados. La
    segunda mitad del año se desarrollaron los módulos de: comunicación y liderazgo juntos y por cada una de las áreas
    interesadas.

</p>

<BSListGroup>
    <BSListGroupItem Class="list-group-item-secondary"> Módulo 1 - Gestión de las emociones </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> Módulo 2 - Comunicación </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> Módulo 3 - Liderazgo </BSListGroupItem>

</BSListGroup>

<h4 class="mt-5">Talleres de Liderazgo para Directores Y Jefes de Sector</h4>

<p>
    En octubre se reunieron los directores, subdirectores y jefes de sector en el encuentro de Liderazgo y Gestión del
    tiempo llevado adelante por Cdoras. Beatriz Artuso y Melisa Palavecino. <br>

    Durante el encuentro se trataron diferentes temáticas que luego se irán trabajando en cada una de las áreas por sus
    directores y en talleres particulares. Las temáticas fueron

</p>


<BSListGroup>
    <BSListGroupItem Class="list-group-item-secondary"> Aspectos generales. Nociones generales de PNL </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> Estrategias para mejorar la comunicación
    </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> Realizar actividades prácticas que mejoren la escucha activa, la
        expresión verbal y no verbal, y la capacidad de dar y recibir retroalimentación.
    </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> Descripción de tipos de liderazgo </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> Diferencia entre grupo y equipo de trabajo </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> Ejercicios prácticos con Estrategias y herramientas que permitan
        a los participantes identificar sus fortalezas y áreas de mejora como líderes.
    </BSListGroupItem>

</BSListGroup>

<h6 class="mt-5 mb-4">Algunos enunciados y premisas del encuentro</h6>

<BSListGroup>
    <BSListGroupItem Class="list-group-item-secondary"> Buscar trabajar la sensibilidad, primero nace del
        autoconocimiento
    </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> ¿De donde surgen nuestras motivaciones? ¿Como lograr un clima de
        motivación en nuestras pareas? </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> ¿Qué líderes nos inspiran?
    </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary">Un gran encuentro para pensar y reflexionar sobre nuestros
        modelos de liderazgos
    </BSListGroupItem>
    <BSListGroupItem Class="list-group-item-secondary"> Herramientas para generar cambios positivos: tomar la decisión
        de cambiar el ámbito laboral
    </BSListGroupItem>



</BSListGroup>

<NavLink type="button" class="text-black mt-md-5" href="/"> <img class="me-2" width="32" height="32"
        src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>
