@page "/comunicacion"

<PageTitle>Estrategias de Difusión</PageTitle>


<h2 class="mt-5 mb-4">Nueva estrategia de Comunicación Institucional</h2>

<p>
    La gestión adecuada de la comunicación es fundamental para el éxito de cualquier organización en la sociedad actual, donde cada interacción comunica mensajes implícitos y explícitos. En este contexto, el área de Comunicación y Relaciones Institucionales del HTC está revitalizando la forma en que la organización se comunica, reconociendo la importancia de adaptarse a los cambios y mantener una presencia relevante en el entorno digital.

</p>

<img src="img/twitter.jpg" class="w-100 mb-4 mt-3" alt="twitter">

<p>

    La justificación de esta estrategia comunicacional radica en la necesidad de actualizar la imagen y el mensaje del HTC para conectar de manera efectiva con sus distintos públicos. La expansión a plataformas como YouTube y X (ex Twitter), reflejan el compromiso de la organización con la innovación y la modernización de su comunicación.
    <br /><br />
    Además, el plan de comunicación propuesto actúa como una guía estratégica que define claramente qué mensajes transmitir y cómo hacerlo, asegurando coherencia y consistencia en todas las interacciones. Esto fortalece la identidad del HTC y mejora su relación con cuentadantes, colaboradores y la comunidad en general.
</p>


<h2 class="mt-5 mb-4">Estrategias de Difusión</h2>

<p>
    Durante el 2024, se realizaron varias actividades de difusión en Universidades y Colegios secundarios, con el propósito de acercar el organismo de control a la comunidad y la misión institucional que realiza.<br /><br />
    -	Se recibió pasante universitario de la Facultad de Abogacía - Universidad de Mendoza.<br />
    -	En el mes de junio, se dictó clase de Cátedra de Administración del Sector Público. Facultad de Ciencias Económicas UNCuyo. Actividad sobre Responsabilidad Fiscal.<br />
    -	Además, una clase en el Diplomado en Gestión de la Calidad FCE. UNCuyo.<br />
    -	En octubre 2024. Cátedra de Derecho Público, Provincial y Municipal de la Universidad Nacional Cuyo (UNCuyo). Clase abierta sobre los "Órganos Extrapoderes del Diseño Constitucional Mendocino".<br />
    -	Participación en el Módulo de Control Público de la Diplomatura en Control y Auditoría del Sector Público FCE UNCuyo.<br />
    -	Participación en el Módulo de Control Público de la Maestría en Gestión Financiera del Sector Público FCE UNCuyo.<br /><br />
    También se realizaron varias actividades de difusión vinculadas con otros organismos de control externo:<br />
    -	Presentación de presidencia, sobre funciones de control, en la Facultad de Ciencias Económicas de la UNCuyo- Reunión de la Red de Gobernanza Argentina.<br />
    -	Presentación al Tribunal de Cuentas de Buenos Aires. Temática: Cómo se gestiona la mejora: Grupos de Mejora, Auditorías internas. Análisis de riesgo en distintas dimensiones. Proceso de planificación. Medición de la satisfacción del usuario<br />
    -	Reunión con el Tribunal de Cuentas de Catamarca para informar sobre el Proceso de planificación en el Tribunal de Cuentas de Mendoza.<br />
    -	Proceso de Planificación. Reunión por meet con Tribunal de Cuentas Provincia de Córdoba.

</p>

<NavLink type="button" class="text-black mt-md-5" href="/">  <img class="me-2" width="32" height="32" src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>
