@page "/funcion-consultiva"

<PageTitle>Función Consultiva</PageTitle>

<h1>Función Consultiva</h1>

<h4>Asesoramiento e Informes Especiales</h4>
<p>
    Brinda asesoramiento en forma constante a los Órganos Cuentadantes
    sobre diversos aspectos relativos a la rendición de la cuenta, y
    responde a consultas de carácter general referentes al manejo de
    caudales públicos que se planteen en los términos del art. Nº 68 de
    la Ley Nº 9.292.
</p>
<ul>
    <li>Consultas Externas</li>
    <li>Consultas Internas</li>
    <li>Informes y Auditorías, Dirección de Auditorías y Normas</li>
    <li>Recursos</li>
    <li>Denuncias</li>
    <li>Pedidos de Informes del Poder Judicial</li>
    <li>Pedidos de Informes de Información Pública</li>
</ul>


<h4>DIGESTO</h4>
<p>
    La actualización del Sistema Digesto, con 2.552 normas cargadas en 2024 (incluida la documentación del sistema de la calidad) de acuerdo a las siguientes fuentes.
</p>



<table class="table table-sm table-responsive table-hover text-uppercase">
    <thead class="table-group-divider">
        <tr>
            <th>fuentes</th>
            <th>2024</th>
            <th>2022</th>
            <th>2021</th>
            <th>2020</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>boletín oficial</td>
            <td>2200</td>
            <td>2005</td>
            <td>2133</td>
            <td>1509</td>
        </tr>
        <tr>
            <td>organismo</td>
            <td>288</td>
            <td>280</td>
            <td>357</td>
            <td>195</td>
        </tr>
        <tr>
            <td>internet</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
        </tr>
        <tr>
            <td>tipeo-escaneo</td>
            <td>34</td>
            <td>45</td>
            <td>24</td>
            <td>29</td>
        </tr>
    </tbody>
    <tfoot class="fw-bold fs-6">
        <tr>
            <td>total</td>
            <td>2552</td>
            <td>2330</td>
            <td>2516</td>
            <td>1733</td>
        </tr>
    </tfoot>

</table>

<NavLink type="button" class="text-black mt-md-5" href="/">  <img class="me-2" width="32" height="32" src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>
