@page "/funcion-consultiva"

<PageTitle>Función Consultiva</PageTitle>

<h1>Función Consultiva</h1>

<h4>Asesoramiento e Informes Especiales</h4>
<p>
    Brinda asesoramiento en forma constante a los Órganos Cuentadantes
    sobre diversos aspectos relativos a la rendición de la cuenta, y
    responde a consultas de carácter general referentes al manejo de
    caudales públicos que se planteen en los términos del art. Nº 68 de
    la Ley Nº 9.292.
</p>


<BSListGroup class="mb-5 mt-4 list-group list-group-flush">
    <BSListGroupItem Class="bg-transparent fw-bold"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1l9-9m-5 0h5v5"/></svg> Consultas Externas </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent fw-bold"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" stroke="#333333" stroke-linecap="round" stroke-width="1.5"><path stroke-linejoin="round" d="M12 2v8m0 0l3-3m-3 3L9 7"/><path d="M2 13h3.16c.905 0 1.358 0 1.756.183s.692.527 1.281 1.214l.606.706c.589.687.883 1.031 1.281 1.214s.85.183 1.756.183h.32c.905 0 1.358 0 1.756-.183s.692-.527 1.281-1.214l.606-.706c.589-.687.883-1.031 1.281-1.214S17.934 13 18.84 13H22"/><path d="M17 2.127c1.625.16 2.72.521 3.535 1.338C22 4.929 22 7.286 22 12s0 7.071-1.465 8.536C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.464C2 19.07 2 16.714 2 12s0-7.07 1.464-8.535C4.281 2.648 5.374 2.287 7 2.127"/></g></svg> Consultas Internas </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent fw-bold"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="#333333"><path d="M3.5 13v-.804c0-2.967 0-4.45.469-5.636c.754-1.905 2.348-3.407 4.37-4.118C9.595 2 11.168 2 14.318 2c1.798 0 2.698 0 3.416.253c1.155.406 2.066 1.264 2.497 2.353c.268.677.268 1.525.268 3.22V13"/><path d="M3.5 12a3.333 3.333 0 0 1 3.333-3.333c.666 0 1.451.116 2.098-.057a1.67 1.67 0 0 0 1.179-1.18c.173-.647.057-1.432.057-2.098A3.333 3.333 0 0 1 13.5 2m7 15.22c-.051-1.19-.826-1.22-1.877-1.22c-1.619 0-1.887.406-1.887 2v2c0 1.594.268 2 1.887 2c1.051 0 1.826-.03 1.878-1.22M7.266 19c0 1.657-1.264 3-2.824 3c-.352 0-.528 0-.659-.08c-.313-.193-.282-.582-.282-.92v-4c0-.338-.031-.727.282-.92c.131-.08.307-.08.66-.08c1.559 0 2.823 1.343 2.823 3M12 22c-.888 0-1.331 0-1.607-.293s-.276-.764-.276-1.707v-2c0-.943 0-1.414.276-1.707S11.113 16 12 16s1.33 0 1.606.293s.276.764.276 1.707v2c0 .943 0 1.414-.276 1.707C13.331 22 12.887 22 12 22"/></g></svg> Informes y Auditorías, Dirección de Auditorías y Normas </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent fw-bold"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48"><g fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><ellipse cx="14" cy="10" rx="10" ry="5"/><path d="M4 10v7c0 2.761 4.477 5 10 5s10-2.239 10-5v-7"/><path d="M4 17v7c0 2.761 4.477 5 10 5s10-2.239 10-5v-7"/><path d="M4 24v7c0 2.761 4.477 5 10 5s10-2.239 10-5v-7"/><path d="M4 31v7c0 2.761 4.477 5 10 5s10-2.239 10-5v-7"/><ellipse cx="34" cy="24" rx="10" ry="5"/><path d="M24 24v7c0 2.761 4.477 5 10 5s10-2.239 10-5v-7"/><path d="M24 31v7c0 2.761 4.477 5 10 5s10-2.239 10-5v-7"/></g></svg> Recursos </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent fw-bold"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16.996 9.013h.008m0-2.004V4.505M22 6.792c0 2.646-2.24 4.792-5.004 4.792q-.488 0-.968-.09c-.23-.043-.344-.064-.425-.052c-.08.012-.194.072-.42.194a3.25 3.25 0 0 1-2.114.329c.274-.338.46-.743.543-1.177c.05-.265-.074-.523-.26-.712a4.67 4.67 0 0 1-1.36-3.284c0-2.646 2.24-4.792 5.004-4.792S22 4.146 22 6.792M7.502 22H4.718c-.323 0-.648-.046-.945-.173c-.966-.415-1.457-.964-1.685-1.307a.54.54 0 0 1 .03-.631c1.12-1.488 3.716-2.386 5.384-2.386M7.507 22h2.783c.324 0 .648-.046.945-.173c.967-.415 1.457-.964 1.686-1.307a.54.54 0 0 0-.03-.631c-1.12-1.488-3.716-2.386-5.384-2.386m2.778-5.214a2.776 2.776 0 0 1-2.778 2.772a2.776 2.776 0 0 1-2.78-2.772a2.776 2.776 0 0 1 2.78-2.773a2.776 2.776 0 0 1 2.778 2.773" color="#333333"/></svg> Denuncias </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent fw-bold"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14"><g fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"><path d="M.5 13.29H8m-1 0v-2.5H1.5v2.5"/><rect width="7.07" height="4.24" x="3.96" y="2.17" rx="1" transform="rotate(-45 7.499 4.294)"/><path d="m9 5.79l4.5 4.5"/></g></svg> Pedidos de Informes del Poder Judicial </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent fw-bold"><svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 2048 2048"><path fill="#333333" d="M1792 549v1499H128V0h1115zm-512-37h293l-293-293zm384 128h-512V128H256v1792h1408zm-640 0H384V512h640zM384 768h1152v128H384zm0 256h1152v128H384zm0 256h1152v128H384zm0 256h1152v128H384z"/></svg> Pedidos de Informes de Información Pública </BSListGroupItem>
</BSListGroup>


<h4>DIGESTO</h4>
<p>
    Durante el año 2024 se ha continuado trabajando y actualizando el Sistema Digesto de forma presencial. Se respondió
    la totalidad de las solicitudes de normas que los empleados del tribunal realizaron en el ejercicio 2024, las que
    totalizaron 23 solicitudes con un tiempo de respuesta promedio de 1.61 días según sistema de solitud de normas
    ingresando por digesto. A través del sistema de requerimientos de Sigesco se recibieron 78 requerimientos de
    incorporación de normas y/o adecuación del sistema.Se solucionaron el 100% de los mismos con un tiempo de respuesta
    promedio de 0,38 dias. <br />

    Se ha cumplido con la documentación de la calidad (Norma ISO) en cuanto a la actualización del Sistema Digesto, con
    la siguiente cantidad de normas cargadas (incluida la documentación del sistema de la calidad) de acuerdo a las
    siguientes fuentes.(comparando con datos de la memoria anual 2023, 2022, 2021 y 2020)<br /><br />
</p>



<table class="table table-sm table-responsive table-hover text-uppercase">
    <thead class="table-group-divider">
        <tr>
            <th class="bg-transparent">fuentes</th>
            <th class="bg-transparent">2024</th>
            <th class="bg-transparent">2023</th>
            <th class="bg-transparent">2022</th>
            <th class="bg-transparent">2021</th>
            <th class="bg-transparent">2020</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bg-transparent">boletín oficial</td>
            <td class="bg-transparent">2118</td>
            <td class="bg-transparent">2200</td>
            <td class="bg-transparent">2005</td>
            <td class="bg-transparent">2133</td>
            <td class="bg-transparent">1509</td>
        </tr>
        <tr>
            <td class="bg-transparent">organismo</td>
            <td class="bg-transparent">325</td>
            <td class="bg-transparent">288</td>
            <td class="bg-transparent">280</td>
            <td class="bg-transparent">357</td>
            <td class="bg-transparent">195</td>
        </tr>
        <tr>
            <td class="bg-transparent">internet</td>
            <td class="bg-transparent">0</td>
            <td class="bg-transparent">0</td>
            <td class="bg-transparent">0</td>
            <td class="bg-transparent">2</td>
            <td class="bg-transparent">0</td>
        </tr>
        <tr>
            <td class="bg-transparent">tipeo - escaneo</td>
            <td class="bg-transparent">34</td>
            <td class="bg-transparent">45</td>
            <td class="bg-transparent">24</td>
            <td class="bg-transparent">29</td>
            <td class="bg-transparent"> - </td>
        </tr>
    </tbody>
    <tfoot class="fw-bold fs-6 bg-transparent">
        <tr>
            <td class="bg-transparent">total</td>
            <td class="bg-transparent">2489</td>
            <td class="bg-transparent">2552</td>
            <td class="bg-transparent">2330</td>
            <td class="bg-transparent">2516</td>
            <td class="bg-transparent">1733</td>
        </tr>
    </tfoot>

</table>

<NavLink type="button" class="text-black mt-md-5" href="/"> <img class="me-2" width="32" height="32"
        src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>
