@page "/"
@inject IJSRuntime JS

<PageTitle>MEMORIA 2024</PageTitle>

<h1 class="fw-bold fs-1"> Memoria 2024</h1>
<h3 class="fw-light mb-4">Transformando Retos en Oportunidades</h3>

<div class="container-fluid p-0">
    <div class=" clearfix text-center">
        <img class="col-md float-md-end mb-3 ms-5" src="img/nestor-pares.png" alt="Dr. Néstor Parés" />
        <p class="text-start ">
            De acuerdo con lo dispuesto en los artículos 15, inciso e), y 69 de la Ley N.º 9.292, se presenta la Memoria
            Anual correspondiente al ejercicio 2024, en la cual se describen las principales actividades llevadas a cabo
            por esta Institución, así como el informe sobre el estado de las cuentas rendidas por los administradores de
            los fondos públicos de la Provincia y sus municipios. <br><br>

            Como presidente del Tribunal de Cuentas, me complace reafirmar el compromiso de nuestra institución con la
            transparencia, la eficiencia y el rigor en el control de la gestión pública. En un contexto en el que la
            rendición de cuentas es más necesaria que nunca, nuestro objetivo sigue siendo garantizar que los recursos
            del Estado sean utilizados de manera adecuada, conforme a la ley y en beneficio de todos los ciudadanos.
            <br><br>
            A lo largo de nuestra labor, hemos avanzado en la implementación de nuevas herramientas de control y
            fiscalización, adaptándonos a los tiempos y a los desafíos que plantea el entorno administrativo. La
            integridad y la correcta administración de los fondos públicos son principios fundamentales que guían cada
            una de nuestras acciones. Como institución, buscamos ser un referente de responsabilidad y transparencia,
            contribuyendo al fortalecimiento del Estado de Derecho y la confianza de la ciudadanía en sus autoridades.
            <br><br>
            Este mensaje no solo representa un compromiso con la labor que desempeñamos, sino también con el futuro de
            la gestión pública, que debe estar marcada por una constante mejora, que nos permita garantizar a la
            sociedad que cada peso del presupuesto se destina de manera correcta y justa.
            <br><br>
            De esta manera, el Tribunal de Cuentas se compromete a continuar trabajando con total independencia,
            imparcialidad y dedicación, fortaleciendo el control y la transparencia en la administración pública,
            siempre en el marco de los principios democráticos y la legalidad.
            Estamos a disposición para cualquier consulta adicional sobre la información presentada.
        </p>

        
    </div>
    <div class="d-flex flex-column align-items-center">
            <img width="300" src="img/firma-nestor-pares.png" alt="firma Nestor Parés">
            <h4 class="fw-bold m-0">Dr. Néstor Parés</h4>
            <p class="m-0">PRESIDENTE HTC</p>
        </div>
</div>


<div class="row mt-5 mb-5 align-items-center justify-content-center text-center text-md-start">
    <!-- Gráfico -->
    <div class="col-12 col-lg-7 mb-4 mb-lg-0 d-flex justify-content-center">
        <div class="chart-container w-100" style="max-width: 700px; height: 60vh;">
            <canvas id="cuadro-fallos-index"></canvas>
        </div>
    </div>

    <!-- Texto -->
    <div class="col-12 col-md-5 d-flex flex-column justify-content-center px-4">
        <h2 class="fw-bold">MEMORIA 2024</h2>
        <p>
            De conformidad con lo dispuesto por el Art. Nº 69 de la Ley Nº 9.292 se presenta el estado de las cuentas
            falladas. <br /><br />
            Un Fallo es una resolución del Tribunal de Cuentas, que aprueba o no las rendiciones de los organismos a
            cargo de fondos públicos provinciales o municipales, puede aplicar multas o cargos si la administración de
            dichos fondos no fue llevada de acuerdo a las leyes vigentes.
        </p>
        <a class="btn btn-primary text-light mx-auto d-block d-md-inline" href="cuentas">ver más...</a>

    </div>
</div>


<div class="row d-flex  align-items-start mt-5  gap-5">


    <a class=" link-ppal col d-flex flex-column align-items-center  text-center gap-3" href="quienes-somos">
        <img src="img/quienes-somos.png" alt="Quienes Somos" /> QUIÉNES SOMOS
    </a>

    <a class="link-ppal col d-flex flex-column align-items-center  text-center gap-3" href="funcion-jurisdiccional">
        <img src="img/balanza.png" alt="Juicio de Cuentas" /> FUNCIÓN JURISDICCIONAL DEL TRIBUNAL
    </a>

    <a class="link-ppal col d-flex flex-column align-items-center  text-center gap-3" href="procesos">
        <img src="img/gestion.png" alt="Sistema de Gestión" /> NUESTRO SISTEMA DE GESTIÓN
    </a>

    <a class="link-ppal col d-flex flex-column align-items-center text-center gap-3" href="actividades">
        <img src="img/actividades.png" alt="Actividades" /> ACTIVIDADES
    </a>

</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llama a CuadroFallos() solo en la primera renderización
            await CuadroFallos();
        }
    }

    private async Task CuadroFallos()
    {
        try
        {
            await JS.InvokeVoidAsync("cuadroFallosIndex");
            Console.WriteLine("La función cuadroFallos se ejecutó correctamente.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al ejecutar cuadroFallos: {ex.Message}");
        }
    }
}
