@page "/funcion-jurisdiccional"

<PageTitle>Función Jurisdiccional</PageTitle>

<h1>Función Jurisdiccional</h1>

<h2 class="mt-5 mb-2">Juicio de Cuentas</h2>
<p>
    El Juicio de Cuentas es un proceso que se nutre de la información de la presentación de la cuenta que hace el Ente
    auditado durante el año en ejercicio junto a la obtenida en los procesos de Fiscalización y Asesoramiento, su
    producto final es el Fallo cuyo objeto es aprobar o no la cuenta, a su vez puede contener multas y cargos.
</p>
<img id="juiciodecuentas" class="w-100" src="img/jurisdiccional/juicio-de-cuentas.png" />


<NavLink type="button" class="text-black mt-md-5" href="/">  <img class="me-2" width="32" height="32" src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>


