@page "/organigrama"

<PageTitle>Organigrama</PageTitle>


<h1>Organigrama</h1>

@* <div style="width:100%; height:700px;" id="tree"></div> *@

<img class="w-100" src="img/organigrama.png" alt="Organigrama Funcional">


<NavLink type="button" class="text-black mt-md-5" href="/">  <img class="me-2" width="32" height="32" src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>
