@page "/organigrama"
@inject IJSRuntime JSRuntime
<PageTitle>Organigrama</PageTitle>

<h1>Organigrama</h1>

<div class="position-relative overflow-hidden w-100 h-100" >
    <img id="organigramaImagen" class="w-100 p-5" src="img/organigrama.png" alt="Organigrama Funcional" style="transition: transform 0.3s ease;">
</div>

<NavLink type="button" class="text-black mt-md-5" href="/">
    <img class="me-2" width="32" height="32" src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER
</NavLink>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("setupZoom", "organigramaImagen");
        }
    }
}