@page "/procesos"

<PageTitle>Sistema de Gestión</PageTitle>


<h1>Sistema de Gestión</h1>

<img id="imagenProcesos" class="w-100" src="img/procesos.png" alt="Sistema de Gestión" />

            <p>
                La Planificación es una función estratégica que nace de la Alta Dirección, y que alimenta a cada uno de los Procesos Principales y también a los Procesos de Apoyo, ya que es la que establece las pautas y requisitos a considerar para el correcto desenvolvimiento de las demás actividades.
            </p>
            <p>
                Es importante destacar que el Proceso de Fiscalización inicia el examen de las rendiciones de cuentas de cada entidad controlada, el cual concluye con el Juicio de Cuentas ya que lo controlado e informado durante la Fiscalización sirven como elementos de entrada en el Juicio de Cuentas junto con la Rendición Anual que presenta el Cuentadante. En cuanto al proceso de Asesoramiento e Informes Especiales destacamos que es un proceso que se desarrolla a solicitud de cualquier usuario externo, y que puede estar vinculado a temáticas analizadas en el Proceso de Fiscalización o del Juicio de Cuentas según el caso. El Proceso del Juicio de Cuentas, es el eje principal del trabajo diario que se realiza en el Tribunal, habiendo sido definido en la Ley N°9292, y rediseñado desde el sistema de gestión de la calidad, incorporando fundamentalmente, los recursos nuevos que la ley contempla. Se expone a continuación el gráfico del proceso del Juicio de Cuentas
            </p>

            <p>
                Los Procesos de apoyo cumplen la importante misión de ser el soporte de toda la organización y de todos los procesos principales, y atraviesan transversalmente los demás procesos del Tribunal, siendo vitales para la gestión de los mismos.
            </p>
<NavLink type="button" class="text-black mt-md-5" href="/">  <img class="me-2" width="32" height="32" src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>
