@page "/quienes-somos"

<PageTitle>Quienes Somos</PageTitle>


<h1>Honorable Tribunal de Cuentas</h1>




<div class="">

    <p>
        Somos un Organismo de control extrapoder de origen constitucional
        (Arts. Nº 181 a 185 Constitución de la Provincia) reglamentado por
        la Ley Orgánica Nº 9.292 del 06/01/2021.

    </p>



</div>

<div class="mb-5">
    <h2>¿Cómo se compone?</h2>
    <div class="d-flex flex-column align-items-center">
        <img class="rounded-circle" style="width: 300px;" src="img/autoridades/pares.jpg" alt="Néstor Parés" />
        <p class="text-center mt-3 mb-5">
            <b>Dr. Néstor Parés</b> <br />
            Un Presidente abogado con iguales requisitos que para ser miembro
            de la Corte
        </p>
    </div>
</div>


<div class="d-flex flex-wrap justify-content-around mb-5">


    <div class="d-flex flex-column align-items-center">
        <img class="rounded-circle" style="width: 300px;" src="img/autoridades/pettignano.jpg"
            alt="Ricardo Pettignano" />
        <p class="text-center mt-3"><b>Dr. Ricardo Pettignano</b><br />Vocal Contador </p>
    </div>

    <div class="d-flex flex-column align-items-center">
        <img class="rounded-circle" style="width: 300px;" src="img/autoridades/muñoz.jpg"
            alt="Marta Muñoz de Lázzaro" />
        <p class="text-center mt-3"><b>Dra. Marta Muñoz de Lázzaro</b><br />Vocal Contador </p>
    </div>

    <div class="d-flex flex-column align-items-center">
        <img class="rounded-circle" style="width: 300px;" src="img/autoridades/caputto.jpg" alt="Héctor Caputto" />
        <p class="text-center mt-3"><b>Dr. Héctor Caputto</b> <br />Vocal Contador </p>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img class="rounded-circle" style="width: 300px;" src="img/autoridades/riera.jpg" alt="Gustavo Riera" />
        <p class="text-center mt-3"><b>Dr. Gustavo Riera</b><br />Vocal Abogado </p>
    </div>
    <p class="mt-4">
        Al menos tres (3) de los Vocales deberán ser Contadores Públicos de
        la matrícula, con diez (10) años de ejercicio profesional u ocho (8)
        en la administración pública como mínimo. Uno de los vocales podrá
        ser abogado, el que deberá reunir las mismas condiciones que se
        requieren para el presidente. Son elegidos por el
        Poder Ejecutivo con Acuerdo del Senado, y sometidos al Jury de
        Enjuiciamiento.
    </p>

</div>

<div class="d-flex flex-column gap-4">
    <BSLink Class="text-uppercase fs-5 text-primary" Target="equipo-tecnico"> Equipo Técnico <svg
            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
        </svg> </BSLink>
    <BSCollapse DataId="equipo-tecnico">
        <BSCard CardType="CardType.Card" Class="bg-transparent border-0">
            <BSListGroup>
                <BSListGroupItem Class="bg-transparent border-0"><b>Correo institucional </b><a
                        href="mailto:tribunaldecuentas@mendoza.gov.ar">tribunaldecuentas@mendoza.gov.ar</a>
                </BSListGroupItem>
                <BSListGroupItem Class="bg-transparent border-0"> Secretario Relator Adjunto <b>Tel. (261) 4201731 int.
                        137</b> <a href="mailto:conetto@mendoza.gov.ar">conetto@mendoza.gov.ar</a></BSListGroupItem>
                <BSListGroupItem Class="bg-transparent border-0"> Director General <b>Tel. (261) 4201731 int. 114</b> <a
                        href="mailto:lodavia@mendoza.gov.ar">lodavia@mendoza.gov.ar</a></BSListGroupItem>
                <BSListGroupItem Class="bg-transparent border-0"> Director de Administración <b>Tel. (261) 4201731 int.
                        115</b> <a href="mailto:gbuchin@mendoza.gov.ar">gbuchin@mendoza.gov.ar</a></BSListGroupItem>
                <BSListGroupItem Class="bg-transparent border-0">Directores de Cuentas</BSListGroupItem>
                <BSListGroupItem Class="bg-transparent border-0"> Auditores contadores, abogados, otros profesionales,
                    administrativos, auxiliares</BSListGroupItem>
            </BSListGroup>


        </BSCard>
    </BSCollapse>



    <BSLink Class="text-uppercase fs-5 text-primary" Target="tipo-control">¿Qué tipo de control realiza? <svg
            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
        </svg> </BSLink>
    <BSCollapse DataId="tipo-control">
        <BSCard CardType="CardType.Card" Class="bg-transparent border-0">

            <p>
                De legalidad, controlando que los actos u operaciones relacionados con la administración de caudales
                públicos se ajusten a la Constitución, leyes, decretos y reglamentaciones, esto es, que hayan sido
                realizados de conformidad con la normativa aplicable, se encuentren debidamente registrados y tengan
                respaldo documental. <br><br>
                Conforme lo dispuesto por el art. 4 de la Ley Nº 9292, es competencia del Tribunal el control externo
                posterior de carácter legal, presupuestario, económico, financiero y patrimonial de todos los entes del
                sector público provincial y municipal, como así también de todas aquellas personas humanas o personas
                jurídicas que, no perteneciendo al sector público provincial y/o municipal, intervengan en la
                administración y disposición de caudales públicos; siendo la autoridad con imperio exclusivo y
                excluyente para aprobar o desaprobar las rendiciones de cuentas de percepción e inversión de los fondos
                públicos que ejecuten los responsables sometidos a tal obligación.

            </p>



        </BSCard>
    </BSCollapse>

    @* <BSLink Class="text-uppercase fs-5 text-primary" Target="que-se-atribuye">¿Qué se atribuye? <svg
            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
        </svg> </BSLink>
    <BSCollapse DataId="que-se-atribuye">
        <BSCard CardType="CardType.Card" Class="bg-transparent border-0">

            <p>
                Es la autoridad con imperio exclusivo y excluyente para
                aprobar o desaprobar las rendiciones de cuentas de
                percepción e inversión de los fondos públicos que ejecuten
                los responsables sometidos a tal obligación.
            </p>



        </BSCard>
    </BSCollapse> *@


    <BSLink Class="text-uppercase fs-5 text-primary" Target="que-funciones-cumple">¿Qué funciones cumple? <svg
            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
        </svg> </BSLink>
    <BSCollapse DataId="que-funciones-cumple">
        <BSCard CardType="CardType.Card" Class="bg-transparent border-0">

            <BSListGroupItem Class="bg-transparent">
                <p>
                    <b> Fiscalizadora (durante el ejercicio)</b> <br />
                    Previo al inicio del juicio de cuentas y durante el ejercicio en curso efectúa actividades de
                    auditoria en sede de los organismos. <br>
                    Lleva a cabo también auditorias especiales que se le encomiendan. Controla asimismo el cumplimiento
                    de la presentación de la información que establece la Ley de Responsabilidad Fiscal.

                </p>
            </BSListGroupItem>

            <BSListGroupItem Class="bg-transparent">
                <p>
                    <b>Jurisdiccional (luego de presentada la rendición de cuentas)</b> <br />

                    Juzga la rendición mediante el procedimiento de jurisdicción administrativa denominado “Juicio de
                    Cuentas” que culmina con el dictado del Fallo.


                </p>
            </BSListGroupItem>


            <BSListGroupItem Class="bg-transparent">
                <p>
                    <b> Reglamentaria</b> <br />

                    Establece las pautas para la presentación y rendición de la cuenta, así como de los aspectos
                    reglados por la ley Nº 9292 que deban ser reglamentados.


                </p>
            </BSListGroupItem>

            <BSListGroupItem Class="bg-transparent">
                <p>
                    <b>Consultiva</b> <br />

                    Evacua consultas y diversos pedidos de informes que se le formulan. Da tratamiento a las denuncias
                    que ingresan en función de lo dispuesto por el art. 76 Ley Nº 9292.


                </p>
            </BSListGroupItem>


        </BSCard>
    </BSCollapse>


    <BSLink Class="text-uppercase fs-5 text-primary" Target="quienes-rinden">¿Quiénes están obligados a rendir cuentas?
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
        </svg>
    </BSLink>
    <BSCollapse DataId="quienes-rinden">
        <BSCard CardType="CardType.Card" Class="bg-transparent border-0">
            <p>

                Todas las personas humanas o jurídicas públicas o privadas que intervengan en la percepción, inversión
                y/o administración de caudales públicos. También comprende a aquellos que reciban recursos, aportes,
                subsidios o subvenciones del Estado <strong>(art. 18 y 19 Ley Nº 9292)</strong>.

            </p>


        </BSCard>
    </BSCollapse>



    <BSLink Class="text-uppercase fs-5 text-primary" Target="plazos">¿Cuáles son los Plazos para la Presentación de la
        rendición de la Cuenta? <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
            <path fill="currentColor" d="m12 18l-6-6l1.4-1.4l3.6 3.6V5h2v9.2l3.6-3.6L18 12z" />
        </svg> </BSLink>
    <BSCollapse DataId="plazos">
        <BSCard CardType="CardType.Card" Class="bg-transparent border-0">
             <h3> Art. Nº 25 Ley Nº 9.292 y Acuerdo 6570 (art.39)</h3> <br>

            <p>
              
                <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path fill="#333333"
                        d="M8 14q-.425 0-.712-.288T7 13t.288-.712T8 12t.713.288T9 13t-.288.713T8 14m4 0q-.425 0-.712-.288T11 13t.288-.712T12 12t.713.288T13 13t-.288.713T12 14m4 0q-.425 0-.712-.288T15 13t.288-.712T16 12t.713.288T17 13t-.288.713T16 14M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V2h2v2h8V2h2v2h1q.825 0 1.413.588T21 6v14q0 .825-.587 1.413T19 22zm0-2h14V10H5zM5 8h14V6H5zm0 0V6z" />
                </svg> Hasta del 30 de abril, Administración Central y Municipios <br>
                <br>
                <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path fill="#333333"
                        d="M8 14q-.425 0-.712-.288T7 13t.288-.712T8 12t.713.288T9 13t-.288.713T8 14m4 0q-.425 0-.712-.288T11 13t.288-.712T12 12t.713.288T13 13t-.288.713T12 14m4 0q-.425 0-.712-.288T15 13t.288-.712T16 12t.713.288T17 13t-.288.713T16 14M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V2h2v2h8V2h2v2h1q.825 0 1.413.588T21 6v14q0 .825-.587 1.413T19 22zm0-2h14V10H5zM5 8h14V6H5zm0 0V6z" />
                </svg>Hasta el 31 de marzo, Organismos Descentralizados, Autárquicos, Fondos Fiduciarios, Entes
                Reguladores y
                el Departamento General de Irrigación <br><br>
                <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path fill="#333333"
                        d="M8 14q-.425 0-.712-.288T7 13t.288-.712T8 12t.713.288T9 13t-.288.713T8 14m4 0q-.425 0-.712-.288T11 13t.288-.712T12 12t.713.288T13 13t-.288.713T12 14m4 0q-.425 0-.712-.288T15 13t.288-.712T16 12t.713.288T17 13t-.288.713T16 14M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V2h2v2h8V2h2v2h1q.825 0 1.413.588T21 6v14q0 .825-.587 1.413T19 22zm0-2h14V10H5zM5 8h14V6H5zm0 0V6z" />
                </svg> Respecto de las Asociaciones y fundaciones, antes de finalizado el cuarto mes subsiguiente del
                cierre
                anual del ejercicio económico al que se refiere la información; y las Sociedades antes de finalizado el
                quinto mes subsiguiente del cierre anual de ejercicio económico al que se refiere la información.

            </p>
            <h3>Fallo</h3>
            <p>

                

                Se emite Dentro del año de presentada e integrada la cuenta <strong>(Art. Nº 28 Ley Nº 9.292)</strong> y queda firme a
                los 30 días de su notificación o desde la notificación del rechazo de los Recursos previstos en esta ley
                <strong>(Art. Nº 61 Ley Nº 9.292)</strong>

            </p>



        </BSCard>
    </BSCollapse>

</div>



<NavLink type="button" class="text-black mt-md-5" href="/"> <img class="me-2" width="32" height="32"
        src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>
