@page "/quienes-somos"

<PageTitle>Quienes Somos</PageTitle>


    <h1>Honorable Tribunal de Cuentas</h1>




    <div class="">

            <p>
                Somos un Organismo de control extrapoder de origen constitucional
                (Arts. Nº 181 a 185 Constitución de la Provincia) reglamentado por
                la Ley Orgánica Nº 9.292 del 06/01/2021.

            </p>



        </div>

        <div class="mb-5">
            <h2>¿Cómo se compone?</h2>
            <div class="d-flex flex-column align-items-center">
                <img class="rounded-circle" style="width: 300px;" src="img/autoridades/pares.jpg"
                    alt="Néstor Parés" />
                <p class="text-center mt-3 mb-5">
                    <b>Dr. Néstor Parés</b> <br />
                    Un Presidente abogado con iguales requisitos que para ser miembro
                    de la Corte
                </p>
            </div>
        </div>


        <div class="d-flex flex-wrap justify-content-around mb-5">
            <div class="d-flex flex-column align-items-center">
                <img class="rounded-circle" style="width: 300px;" src="img/autoridades/angelini.jpg"
                    alt="Mario Angelini" />
                <p class="text-center mt-3"><b>Dr. Mario Angelini</b><br />Vocal Contador </p>
            </div>

            <div class="d-flex flex-column align-items-center">
                <img class="rounded-circle" style="width: 300px;" src="img/autoridades/pettignano.jpg"
                    alt="Ricardo Pettignano" />
                <p class="text-center mt-3"><b>Dr. Ricardo Pettignano</b><br />Vocal Contador </p>
            </div>

            <div class="d-flex flex-column align-items-center">
                <img class="rounded-circle" style="width: 300px;" src="img/autoridades/muñoz.jpg"
                    alt="Marta Muñoz de Lázzaro" />
                <p class="text-center mt-3"><b>Dra. Marta Muñoz de Lázzaro</b><br />Vocal Contador </p>
            </div>

            <div class="d-flex flex-column align-items-center">
                <img class="rounded-circle" style="width: 300px;" src="img/autoridades/caputto.jpg"
                    alt="Héctor Caputto" />
                <p class="text-center mt-3"><b>Dr. Héctor Caputto</b> <br />Vocal Contador </p>
            </div>
            <p class="mt-4">
                Al menos tres (3) de los Vocales deberán ser Contadores Públicos de
                la matrícula, con diez (10) años de ejercicio profesional u ocho (8)
                en la administración pública como mínimo. Uno de los vocales podrá
                ser abogado, el que deberá reunir las mismas condiciones que se
                requieren para el presidente. Son elegidos por el
                Poder Ejecutivo con Acuerdo del Senado, y sometidos al Jury de
                Enjuiciamiento.
            </p>

        </div>

<div class="d-flex flex-column gap-4">
    <BSLink Class="text-uppercase fs-4 text-primary" Color="BSColor.Primary" Target="equipo-tecnico"> Equipo Técnico <i class="fa-solid fa-arrow-turn-down"></i></BSLink>
    <BSCollapse DataId="equipo-tecnico">
        <BSCard CardType="CardType.Card">

            <p>
                <b>Correo institucional </b><a href="mailto:tribunaldecuentas@mendoza.gov.ar">tribunaldecuentas@mendoza.gov.ar</a>
            </p>
            <BSListGroup>
                <BSListGroupItem Class="bg-transparent"> Secretario Relator <b>Tel. (261) 4201731 int. 118</b> <a href="mailto:gariera@mendoza.gov.ar">gariera@mendoza.gov.ar</a></BSListGroupItem>
                <BSListGroupItem Class="bg-transparent"> Director General <b>Tel. (261) 4201731 int. 114</b> <a href="mailto:lodavia@mendoza.gov.ar">lodavia@mendoza.gov.ar</a></BSListGroupItem>
                <BSListGroupItem Class="bg-transparent"> Director de Administración <b>Tel. (261) 4201731 int. 115</b> <a href="mailto:gbuchin@mendoza.gov.ar">gbuchin@mendoza.gov.ar</a></BSListGroupItem>
                <BSListGroupItem Class="bg-transparent">Directores de Cuentas</BSListGroupItem>
                <BSListGroupItem Class="bg-transparent"> Auditores contadores, abogados, otros profesionales, administrativos, auxiliares</BSListGroupItem>
            </BSListGroup>


        </BSCard>
    </BSCollapse>



    <BSLink Class="text-uppercase fs-4 text-primary" Color="BSColor.Primary" Target="tipo-control">¿Qué tipo de control realiza?</BSLink>
    <BSCollapse DataId="tipo-control">
        <BSCard CardType="CardType.Card">

            <p>
                De legalidad, juzga si la percepción e inversión de caudales
                públicos hechas por todos los funcionarios, empleados y
                administradores de la Provincia se ha realizado conforme a la
                Constitución, Leyes, Decretos y Reglamentaciones, se encuentren
                debidamente registrados y tengan respaldo documental. La legalidad
                no se limita a la aplicación literal de la Ley, sino que se integra
                con los principios generales enunciados en artículo 1º de la Ley de
                Procedimiento Administrativo.
            </p>



        </BSCard>
    </BSCollapse>

    <BSLink Class="text-uppercase fs-4 text-primary" Color="BSColor.Primary" Target="que-se-atribuye">¿Qué se atribuye?</BSLink>
    <BSCollapse DataId="que-se-atribuye">
        <BSCard CardType="CardType.Card">

            <p>
                Es la autoridad con imperio exclusivo y excluyente para
                aprobar o desaprobar las rendiciones de cuentas de
                percepción e inversión de los fondos públicos que ejecuten
                los responsables sometidos a tal obligación.
            </p>



        </BSCard>
    </BSCollapse>


    <BSLink Class="text-uppercase fs-4 text-primary" Color="BSColor.Primary" Target="que-funciones-cumple">¿Qué funciones cumple?</BSLink>
    <BSCollapse DataId="que-funciones-cumple">
        <BSCard CardType="CardType.Card">

            <BSListGroupItem Class="bg-transparent">
                <p>
                    <b> Fiscalizadora (durante el ejercicio)</b> <br />
                    Actividades de Fiscalización - Auditorías especiales<br />
                    Ley de Responsabilidad Fiscal

                </p>
            </BSListGroupItem>

            <BSListGroupItem Class="bg-transparent">
                <p>
                    <b>Jurisdiccional (Ex Post)</b> <br />

                    Procedimiento de Juicio de Cuentas


                </p>
            </BSListGroupItem>


            <BSListGroupItem Class="bg-transparent">
                <p>
                    <b> Reglamentaria</b> <br />

                    Requisitos para la presentación y rendición de la cuenta


                </p>
            </BSListGroupItem>

            <BSListGroupItem Class="bg-transparent">
                <p>
                    <b>Consultiva</b> <br />

                    Evacuación de consultas y diversos pedidos de informes, así como tratamiento de las denuncias ingresadas.


                </p>
            </BSListGroupItem>


        </BSCard>
    </BSCollapse>


    <BSLink Class="text-uppercase fs-4 text-primary" Color="BSColor.Primary" Target="quienes-rinden">¿Quiénes están obligados a rendir cuentas?</BSLink>
    <BSCollapse DataId="quienes-rinden">
        <BSCard CardType="CardType.Card">
            <BSListGroupItem Class="bg-transparent">Todos los poderes públicos</BSListGroupItem>
            <BSListGroupItem Class="bg-transparent">Municipalidades</BSListGroupItem>
            <BSListGroupItem Class="bg-transparent">Reparticiones Autónomas y Autárquicas</BSListGroupItem>
            <BSListGroupItem Class="bg-transparent">
                Funcionarios y empleados que administren caudales
                públicos
            </BSListGroupItem>
            <BSListGroupItem Class="bg-transparent">
                Personas físicas y jurídicas (Asociaciones, Fundaciones,
                Cooperadoras, etc.) que reciban recursos, aportes,
                subsidios o subvenciones del Estado
            </BSListGroupItem>
            <BSListGroupItem Class="bg-transparent">
                Administración Provincial, Empresas, Sociedades y Otros
                Entes Públicos, Departamento General de Irrigación y los
                Municipios
            </BSListGroupItem>



        </BSCard>
    </BSCollapse>



    <BSLink Class="text-uppercase fs-4 text-primary" Color="BSColor.Primary" Target="plazos">¿Cuáles son los Plazos?</BSLink>
    <BSCollapse DataId="plazos">
        <BSCard CardType="CardType.Card">

            <p>
                Presentación de la Cuenta (Art. Nº 25 Ley Nº 9.292) <br />

                Anualmente antes del 31 de marzo o 30 de abril. <br /><br />

                <h4>Fallo</h4> <br />

                Dentro del año de presentada e integrada la cuenta (Art.
                Nº 28 Ley Nº 9.292). Este queda firme a los 30 días de su
                notificación (Art. Nº 61 Ley Nº 9.292).

            </p>



        </BSCard>
    </BSCollapse>

</div>



<NavLink type="button" class="text-black mt-md-5" href="/">  <img class="me-2" width="32" height="32" src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>


