@page "/rrhh"
@inject IJSRuntime JS

<PageTitle>Recursos Humanos</PageTitle>


<h1>Personal de Planta</h1>



<div class="w-100 justify-content-center row gap-3 mt-4 mb-3">

    <BSCard CardType="CardType.Card" style="width: 18rem;">
        <BSCard CardType="CardType.Body">
            <BSCard CardType="CardType.Title">
                <h1 class="fw-bold">271</h1>
            </BSCard>
            <BSCard CardType="CardType.Text">
                Agentes Colaboradores
            </BSCard>
        </BSCard>
    </BSCard>

    <BSCard CardType="CardType.Card" style="width: 18rem;">
        <BSCard CardType="CardType.Body">
            <BSCard CardType="CardType.Title">
                <h1 class="fw-bold">267</h1>
            </BSCard>
            <BSCard CardType="CardType.Text">
                Agentes en planta del personal <br> incluyendo a las autoridades
            </BSCard>
        </BSCard>
    </BSCard>

    <BSCard CardType="CardType.Card" style="width: 18rem;">
        <BSCard CardType="CardType.Body">
            <BSCard CardType="CardType.Title">
                <h1 class="fw-bold">3</h1>
            </BSCard>
            <BSCard CardType="CardType.Text">
                Agentes con contrato de locación de servicios
            </BSCard>
        </BSCard>
    </BSCard>

    <BSCard CardType="CardType.Card" style="width: 18rem;">
        <BSCard CardType="CardType.Body">
            <BSCard CardType="CardType.Title">
                <h1 class="fw-bold">1</h1>
            </BSCard>
            <BSCard CardType="CardType.Text">
                Agente en comisión
            </BSCard>
        </BSCard>
    </BSCard>

</div>

<div class="mt-5 mb-5 p-3" style="width: 100%; max-width: 100%; height: 600px; margin: 0 auto;">
    <canvas id="personal" style="max-width: 100% !important; height: 100% !important;"></canvas>
    <small>No se ha considerado al personal del Tribunal de Cuentas adscripto en otras reparticiones del Estado, y
        quienes se encuentran con licencia sin goce de haberes o reserva de empleo al 31 de diciembre.</small>
</div>



<p>
    Del total, ciento noventa y cinco (195) son profesionales con títulos universitarios de grado en diversas
    disciplinas, que desempeñan sus funciones en los distintos sectores del organismo. Entre ellos se incluyen
    arquitectos, analistas, ingenieros, contadores, abogados, procuradores, licenciados, entre otros.
    Los setenta y seis (76) restantes, que completan un total de doscientos setenta y uno (271) agentes, se dedican a
    tareas administrativas y de servicios generales.
</p>

<NavLink type="button" class="text-black mt-md-5" href="https://www.tribcuentasmendoza.gob.ar/Memoria/2024/"> <img class="me-2" width="32" height="32"
        src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llama a CuadroFallos() solo en la primera renderización
            await Planta();
        }
    }

    private async Task Planta()
    {
        try
        {
            await JS.InvokeVoidAsync("Recursos");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}
