@page "/rrhh"
@inject IJSRuntime JS

<PageTitle>Recursos Humanos</PageTitle>


<h1>Personal de Planta</h1> 

<div class="container row gap-3 mt-4 mb-3">

    <BSCard CardType="CardType.Card" style="width: 18rem;">
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title"><h1>271</h1></BSCard>
        <BSCard CardType="CardType.Text">
           Agentes Colaboradores
        </BSCard>
    </BSCard>
</BSCard>

<BSCard CardType="CardType.Card" style="width: 18rem;">
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title"><h1>286</h1></BSCard>
        <BSCard CardType="CardType.Text">
           Agentes en planta del personal <br> incluyendo a las autoridades
        </BSCard>
    </BSCard>
</BSCard>

<BSCard CardType="CardType.Card" style="width: 18rem;">
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title"><h1>3</h1></BSCard>
        <BSCard CardType="CardType.Text">
          Agentes con contrato de locación de servicios
        </BSCard>
    </BSCard>
</BSCard>

<BSCard CardType="CardType.Card" style="width: 18rem;">
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title"><h1>1</h1></BSCard>
        <BSCard CardType="CardType.Text">
          Agente en comisión
        </BSCard>
    </BSCard>
</BSCard>

</div>


<div class=" p-3">
    <canvas id="personal"></canvas>
    <small>No se ha considerado al personal del Tribunal de Cuentas adscripto en otras reparticiones del Estado, y quienes se encuentran con licencia sin goce de haberes o reserva de empleo al 31 de diciembre.</small>
</div>



<NavLink type="button" class="text-black mt-md-5" href="/">  <img class="me-2" width="32" height="32" src="https://img.icons8.com/windows/32/000000/return.png" alt="return" /> VOLVER</NavLink>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llama a CuadroFallos() solo en la primera renderización
            await Planta();
        }
    }

    private async Task Planta()
    {
        try
        {
            await JS.InvokeVoidAsync("Recursos");
           
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}
