@page "/tecnologias_de_la_informacion"
@inject IJSRuntime JS

<PageTitle>Tecnologías de la Información</PageTitle>


<h1 class="mb-3 mt-5">Tecnologías de la Información y la Comunicación</h1>


<div class="row mb-5 align-items-center">
    <div class="col-md-3 text-center">
        <img class="img-fluid"
            src="https://aguayo-co.s3.amazonaws.com/public/images/Agile-methodology-user-experience.width-490.png"
            alt="metodologías ágiles">
    </div>
    <div class="col-md-9">
        <p>
            El Tribunal de Cuentas trabaja permanentemente en mejorar la calidad de sus procesos, favorecer el control
            oportuno,
            eficaz y eficiente; ayudar a la toma de decisiones en tiempo y forma, así como en satisfacer las necesidades
            de
            información de las partes interesadas.

            Es así que en 2024 asumimos el compromiso de aplicar en la Gestión de Proyectos de Software el uso de
            Metodologías
            Ágiles que generan entornos de trabajo dinámicos, colaborativos y con un fuerte enfoque en la mejora
            continua,
            produciendo impacto directo en la motivación de nuestro equipo, fomentando la participación activa en la
            toma de
            decisiones, la resolución de problemas y el aprendizaje compartido.<br>

            El uso de estas metodologías nos permite realizar ciclos cortos de desarrollo, revisión continua de tareas,
            constante retroalimentación, lo que colabora a detectar desvíos o nuevas necesidades de forma temprana, y al
            poder
            integrar a los usuarios finales activamente al proceso mediante demostraciones, pruebas de concepto o
            entregas
            funcionales, se genera una mayor confianza, transparencia y satisfacción.<br>

           
        </p>
    </div>
</div>


<div class="row mb-5 align-items-center">
    <div class="col-md-3 text-center">
        <img class="img-fluid"
            src="https://png.pngtree.com/png-vector/20220725/ourmid/pngtree-devops-scheme-software-development-lifecycle-png-image_6066231.png"
            alt="devops">
    </div>
    <div class="col-md-9">
        <p>
            Junto a este desafío, redoblamos la apuesta, comenzando el camino para implementar el paradigma DevOps que
            ofrece
            una respuesta directa a la necesidad de integración fluida entre los equipos de desarrollo de software y los
            equipos
            de infraestructura.

            De esta forma buscamos generar mayor compromiso en nuestros profesionales que al ver el impacto directo de
            su
            trabajo y ser parte de una cultura donde la innovación es bienvenida, ese ambiente potencia el rendimiento,
            a la vez
            que permite atraer y retener talento.
        </p>
    </div>
</div>



<h5 class="mb-4">Infraestructura y Soporte</h5>

<div class="row mb-5 align-items-center">
    <div class="col-md-3 text-center">
        <img class="img-fluid" src="https://cepheid.info/wp-content/uploads/2020/02/cepheid_infraestructura.jpg"
            alt="Infraestructura y Soporte">
    </div>
    <div class="col-md-9">
        <p>
            Elaboración y aprobación de Plan de Contingencias de Sistemas. <br>
            Implementación de sistemas de observabilidad para nuestros servidores y servicios utilizando la tecnología
            de Prometheus para la recolección y almacenamiento de métricas de rendimiento y Grafana nos proporciona
            poderosas herramientas para la visualización y análisis de estos datos, facilitando una gestión proactiva y
            eficiente de toda la infraestructura.<br>
            Puesta en valor de servidores que fueron reemplazados para la implementación de un laboratorio de
            Blockchain e Inteligencia Artificial.<br>
            Implementación de una red WIFI para “Invitados” en los edificios del Tribunal.<br>
            Solución a la necesidad de los cuentadantes para cargar archivos de gran tamaño requeridos por el Tribunal
            para su auditoría utilizando un servicio de VPN que garantiza la seguridad en ese proceso.<br>
            Desarrollo y configuración de los puestos de trabajo en delegaciones externas para que los agentes del
            Tribunal puedan tener una experiencia de usuario segura y con las mismas características que al estar en el
            edificio propio.<br>
            Mantenimiento preventivo y correctivo del equipamiento informático del Tribunal de Cuentas, según la
            Planificación Anual elaborada.<br>
            Adquisición y reemplazo de 25 nuevos puestos de trabajo junto a la implementación en algunos de ellos de
            la facilidad de monitor dual que mejora la tarea de auditoría de información digitalizada.
        </p>
    </div>
</div>

<h5 class="mb-3">Ingeniería de software</h5>

<div class="row mb-5 align-items-center">
    <div class="col-md-3 text-center">
        <img class="img-fluid"
            src="https://www.unemi.edu.ec/wp-content/uploads/2024/06/Ingenieria-de-Software_-%C2%BFque-es-por-que-estudiarla-y-cual-es-su-proyeccion-profesional.png"
            alt="ingenieria de software">
    </div>
    <div class="col-md-9">
        <p>
            Implementación del gestor de control de versiones de software GIT y su paradigma junto a la adaptación de un
            tablero SCRUMBAN propio y las ceremonias, roles y conceptos de Metodologías Ágiles apoyado en software.<br>
            Nueva funcionalidad para la carga de Legajos de Personal digitalizados en el sistema informático de Recursos
            Humanos.<br>
            Implementación de una plataforma de pagos electrónicos para las sanciones del Tribunal de Cuentas utilizando
            arquitectura de microservicios.<br>
            Desarrollo e implementación de un nuevo Sistema de Oportunidades de Mejora y No Conformidades adaptado a la
            versión 2015 de la Norma ISO 9000, tomando en cuenta aspectos de una moderna gestión de procesos
            gubernamentales.<br>
            Desarrollo, prueba e implementación continua de nuevas funcionalidades en todos los módulos del Sistema de
            Gestión y Control (SIGESCO) ajustando la dinámica de cambios normativos y de contexto permanentes.
        </P>
    </div>

</div>




<h5 class="mb-5">Gestión y Administración</h5>
<div class="row mb-5 align-items-center">
    <div class="col-md-3 text-center">
        <img class="img-fluid"
            src="https://www.linksolution.com.ar/wp-content/uploads/2019/09/mesa-de-ayuda-it.jpg"
            alt="devops">
    </div>
    <div class="col-md-9">
        <p>
            Implementación de una Mesa de Ayuda dentro de la Subdirección de Sistemas para la atención de los
            requerimientos de los agentes del Tribunal y el apoyo a los usuarios externos de los organismos
            cuentadantes.<br>
            Gestión de la comunicación de la Subdirección de Sistemas y Comunicaciones dentro de la organización y
            externa a la misma.<br>
            Fortalecimiento de la gestión y control del inventario informático del Tribunal de Cuentas.
        </p>
    </div>

</div>
