@page "/tecnologias_de_la_informacion"
@inject IJSRuntime JS

<PageTitle>Tecnologías de la Información</PageTitle>


<h1 class="mb-3 mt-5">Tecnologías de la Información</h1>

<p>
    El Tribunal de Cuentas trabaja permanentemente en mejorar la calidad de sus procesos, favorecer el control oportuno,
    eficaz y eficiente; ayudar a la toma de decisiones en tiempo y forma, así como en satisfacer las necesidades de
    información de las partes interesadas.
</p>

<BSCard CardType="CardType.Card" class="d-flex flex-column flex-md-row gap-3 mt-4 bg-transparent border-0 mb-5">
    <BSCard CardType="CardType.Image" class="img-fluid rounded-start w-100 w-md-25" src="https://aguayo-co.s3.amazonaws.com/public/images/Agile-methodology-user-experience.width-490.png"
       alt="metodologías ágiles" />
    <BSCard CardType="CardType.Body" class="p-3">
        @* <BSCard CardType="CardType.Title">Red Federal de Control</BSCard> *@
        <BSCard CardType="CardType.Text">
            En 2024 asumimos el compromiso de aplicar en la Gestión de Proyectos de Software el uso de Metodologías
            Ágiles para generar un entorno de trabajo dinámico, colaborativo y con un fuerte enfoque en la mejora
            continua, produciendo impacto directo en la motivación de nuestro equipo, fomentando la participación activa
            en la toma de decisiones, la resolución de problemas y el aprendizaje compartido. El uso de estas
            metodologías nos permite realizar ciclos cortos de desarrollo, revisión continua de tareas, lo que colabora
            a detectar desvíos o nuevas necesidades de forma temprana, integrando a los usuarios finales activamente al
            proceso mediante demostraciones, pruebas de concepto o entregas funcionales.
        </BSCard>
    </BSCard>
</BSCard>





<h5 class="mb-3">Infraestructura y Soporte</h5>

<BSListGroup>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32"><path fill="#333333" d="M21 3c-4.43 0-8 3.57-8 8c0 .235.037.553.063.844L4.5 20.406a5 5 0 0 0 0 7.094a5 5 0 0 0 7.094 0l8.562-8.563c.29.026.61.063.844.063c4.43 0 8-3.57 8-8a7.6 7.6 0 0 0-.938-3.688l-.625-1.156l-.937.938l-4.313 4.28l-1.562-1.562l4.28-4.312l.94-.938l-1.157-.625A7.6 7.6 0 0 0 21 3m0 2c.486 0 .848.21 1.28.313l-3.78 3.78l-.72.72l.72.687l3 3l.688.72l.718-.72l3.782-3.78c.103.432.312.794.312 1.28c0 3.37-2.63 6-6 6c-.4 0-.72 0-.97-.063l-.53-.156l-.406.407l-8.907 8.907c-1.23 1.23-3.05 1.23-4.28 0l-.032-.032c-1.2-1.23-1.19-3.03.03-4.25l8.907-8.906l.407-.406l-.158-.53c-.06-.25-.062-.57-.062-.97c0-3.37 2.63-6 6-6z"/></svg>   Elaboración y aprobación de Plan de Contingencias de Sistemas. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32"><path fill="#333333" d="M21 3c-4.43 0-8 3.57-8 8c0 .235.037.553.063.844L4.5 20.406a5 5 0 0 0 0 7.094a5 5 0 0 0 7.094 0l8.562-8.563c.29.026.61.063.844.063c4.43 0 8-3.57 8-8a7.6 7.6 0 0 0-.938-3.688l-.625-1.156l-.937.938l-4.313 4.28l-1.562-1.562l4.28-4.312l.94-.938l-1.157-.625A7.6 7.6 0 0 0 21 3m0 2c.486 0 .848.21 1.28.313l-3.78 3.78l-.72.72l.72.687l3 3l.688.72l.718-.72l3.782-3.78c.103.432.312.794.312 1.28c0 3.37-2.63 6-6 6c-.4 0-.72 0-.97-.063l-.53-.156l-.406.407l-8.907 8.907c-1.23 1.23-3.05 1.23-4.28 0l-.032-.032c-1.2-1.23-1.19-3.03.03-4.25l8.907-8.906l.407-.406l-.158-.53c-.06-.25-.062-.57-.062-.97c0-3.37 2.63-6 6-6z"/></svg>   Implementación de un sistema de observabilidad para nuestros servidores y servicios digitalizados,
        facilitando una
        gestión proactiva y eficiente de toda la infraestructura. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32"><path fill="#333333" d="M21 3c-4.43 0-8 3.57-8 8c0 .235.037.553.063.844L4.5 20.406a5 5 0 0 0 0 7.094a5 5 0 0 0 7.094 0l8.562-8.563c.29.026.61.063.844.063c4.43 0 8-3.57 8-8a7.6 7.6 0 0 0-.938-3.688l-.625-1.156l-.937.938l-4.313 4.28l-1.562-1.562l4.28-4.312l.94-.938l-1.157-.625A7.6 7.6 0 0 0 21 3m0 2c.486 0 .848.21 1.28.313l-3.78 3.78l-.72.72l.72.687l3 3l.688.72l.718-.72l3.782-3.78c.103.432.312.794.312 1.28c0 3.37-2.63 6-6 6c-.4 0-.72 0-.97-.063l-.53-.156l-.406.407l-8.907 8.907c-1.23 1.23-3.05 1.23-4.28 0l-.032-.032c-1.2-1.23-1.19-3.03.03-4.25l8.907-8.906l.407-.406l-.158-.53c-.06-.25-.062-.57-.062-.97c0-3.37 2.63-6 6-6z"/></svg>   Solución de VPN para permitir a los cuentadantes la carga de archivos de gran tamaño requeridos por
        el Tribunal
        para su auditoría. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32"><path fill="#333333" d="M21 3c-4.43 0-8 3.57-8 8c0 .235.037.553.063.844L4.5 20.406a5 5 0 0 0 0 7.094a5 5 0 0 0 7.094 0l8.562-8.563c.29.026.61.063.844.063c4.43 0 8-3.57 8-8a7.6 7.6 0 0 0-.938-3.688l-.625-1.156l-.937.938l-4.313 4.28l-1.562-1.562l4.28-4.312l.94-.938l-1.157-.625A7.6 7.6 0 0 0 21 3m0 2c.486 0 .848.21 1.28.313l-3.78 3.78l-.72.72l.72.687l3 3l.688.72l.718-.72l3.782-3.78c.103.432.312.794.312 1.28c0 3.37-2.63 6-6 6c-.4 0-.72 0-.97-.063l-.53-.156l-.406.407l-8.907 8.907c-1.23 1.23-3.05 1.23-4.28 0l-.032-.032c-1.2-1.23-1.19-3.03.03-4.25l8.907-8.906l.407-.406l-.158-.53c-.06-.25-.062-.57-.062-.97c0-3.37 2.63-6 6-6z"/></svg>   Desarrollo y configuración de los puestos de trabajo en delegaciones externas para que los agentes
        del Tribunal
        puedan tener una experiencia de usuario segura y con las mismas características que al estar en el edificio
        propio. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32"><path fill="#333333" d="M21 3c-4.43 0-8 3.57-8 8c0 .235.037.553.063.844L4.5 20.406a5 5 0 0 0 0 7.094a5 5 0 0 0 7.094 0l8.562-8.563c.29.026.61.063.844.063c4.43 0 8-3.57 8-8a7.6 7.6 0 0 0-.938-3.688l-.625-1.156l-.937.938l-4.313 4.28l-1.562-1.562l4.28-4.312l.94-.938l-1.157-.625A7.6 7.6 0 0 0 21 3m0 2c.486 0 .848.21 1.28.313l-3.78 3.78l-.72.72l.72.687l3 3l.688.72l.718-.72l3.782-3.78c.103.432.312.794.312 1.28c0 3.37-2.63 6-6 6c-.4 0-.72 0-.97-.063l-.53-.156l-.406.407l-8.907 8.907c-1.23 1.23-3.05 1.23-4.28 0l-.032-.032c-1.2-1.23-1.19-3.03.03-4.25l8.907-8.906l.407-.406l-.158-.53c-.06-.25-.062-.57-.062-.97c0-3.37 2.63-6 6-6z"/></svg>    Mantenimiento preventivo y correctivo del equipamiento informático del Tribunal de Cuentas, según
        la Planificación
        Anual elaborada. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32"><path fill="#333333" d="M21 3c-4.43 0-8 3.57-8 8c0 .235.037.553.063.844L4.5 20.406a5 5 0 0 0 0 7.094a5 5 0 0 0 7.094 0l8.562-8.563c.29.026.61.063.844.063c4.43 0 8-3.57 8-8a7.6 7.6 0 0 0-.938-3.688l-.625-1.156l-.937.938l-4.313 4.28l-1.562-1.562l4.28-4.312l.94-.938l-1.157-.625A7.6 7.6 0 0 0 21 3m0 2c.486 0 .848.21 1.28.313l-3.78 3.78l-.72.72l.72.687l3 3l.688.72l.718-.72l3.782-3.78c.103.432.312.794.312 1.28c0 3.37-2.63 6-6 6c-.4 0-.72 0-.97-.063l-.53-.156l-.406.407l-8.907 8.907c-1.23 1.23-3.05 1.23-4.28 0l-.032-.032c-1.2-1.23-1.19-3.03.03-4.25l8.907-8.906l.407-.406l-.158-.53c-.06-.25-.062-.57-.062-.97c0-3.37 2.63-6 6-6z"/></svg>   Adquisición y reemplazo de 25 nuevos puestos de trabajo junto a la implementación en algunos de
        ellos de la
        facilidad de monitor dual que mejora la tarea de auditoría de información digitalizada.
    </BSListGroupItem>

</BSListGroup>




<h5 class="mb-3 mt-5">Ingeniería de software y SIGESCO</h5>

<BSListGroup>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 14 14"><path fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" d="M4.09 1.19a2 2 0 0 1 .6 1.33L6.52.7a.67.67 0 0 1 1 0L9 2.24a2.18 2.18 0 0 0-.57.4a2.06 2.06 0 0 0 2.91 2.91a2.18 2.18 0 0 0 .4-.57l1.56 1.54a.67.67 0 0 1 0 1l-1.82 1.79a2.05 2.05 0 1 1-2.17 2.17L7.48 13.3a.67.67 0 0 1-1 0L5 11.76a2.18 2.18 0 0 0 .57-.4a2.06 2.06 0 0 0-2.93-2.91a2.18 2.18 0 0 0-.4.57L.7 7.48a.67.67 0 0 1 0-1l1.82-1.79a2 2 0 0 1-1.33-.6a2.05 2.05 0 0 1 2.9-2.9Z"/></svg>    Implementación de una plataforma electrónica para recibir los pagos de las sanciones que impone el
        Tribunal de
        Cuentas utilizando arquitectura de microservicios. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 14 14"><path fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" d="M4.09 1.19a2 2 0 0 1 .6 1.33L6.52.7a.67.67 0 0 1 1 0L9 2.24a2.18 2.18 0 0 0-.57.4a2.06 2.06 0 0 0 2.91 2.91a2.18 2.18 0 0 0 .4-.57l1.56 1.54a.67.67 0 0 1 0 1l-1.82 1.79a2.05 2.05 0 1 1-2.17 2.17L7.48 13.3a.67.67 0 0 1-1 0L5 11.76a2.18 2.18 0 0 0 .57-.4a2.06 2.06 0 0 0-2.93-2.91a2.18 2.18 0 0 0-.4.57L.7 7.48a.67.67 0 0 1 0-1l1.82-1.79a2 2 0 0 1-1.33-.6a2.05 2.05 0 0 1 2.9-2.9Z"/></svg>    Desarrollo e implementación de un nuevo Sistema de Oportunidades de Mejora y No Conformidades
        adaptado a la
        versión 2015 de la Norma ISO 9000, tomando en cuenta aspectos de una moderna gestión de procesos
        gubernamentales. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 14 14"><path fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" d="M4.09 1.19a2 2 0 0 1 .6 1.33L6.52.7a.67.67 0 0 1 1 0L9 2.24a2.18 2.18 0 0 0-.57.4a2.06 2.06 0 0 0 2.91 2.91a2.18 2.18 0 0 0 .4-.57l1.56 1.54a.67.67 0 0 1 0 1l-1.82 1.79a2.05 2.05 0 1 1-2.17 2.17L7.48 13.3a.67.67 0 0 1-1 0L5 11.76a2.18 2.18 0 0 0 .57-.4a2.06 2.06 0 0 0-2.93-2.91a2.18 2.18 0 0 0-.4.57L.7 7.48a.67.67 0 0 1 0-1l1.82-1.79a2 2 0 0 1-1.33-.6a2.05 2.05 0 0 1 2.9-2.9Z"/></svg>     Nueva funcionalidad para la carga de Legajos de Personal digitalizados en el sistema informático
        de Recursos
        Humanos. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent">Desarrollo, prueba e implementación continua de nuevas funcionalidades en todos los módulos del
        Sistema de Gestión
        y Control (SIGESCO) ajustando la dinámica de cambios normativos y de contexto permanentes. </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 14 14"><path fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" d="M4.09 1.19a2 2 0 0 1 .6 1.33L6.52.7a.67.67 0 0 1 1 0L9 2.24a2.18 2.18 0 0 0-.57.4a2.06 2.06 0 0 0 2.91 2.91a2.18 2.18 0 0 0 .4-.57l1.56 1.54a.67.67 0 0 1 0 1l-1.82 1.79a2.05 2.05 0 1 1-2.17 2.17L7.48 13.3a.67.67 0 0 1-1 0L5 11.76a2.18 2.18 0 0 0 .57-.4a2.06 2.06 0 0 0-2.93-2.91a2.18 2.18 0 0 0-.4.57L.7 7.48a.67.67 0 0 1 0-1l1.82-1.79a2 2 0 0 1-1.33-.6a2.05 2.05 0 0 1 2.9-2.9Z"/></svg>     Implementación de una Mesa de Ayuda dentro de la Subdirección de Sistemas para la atención de los
        requerimientos
        de los agentes del Tribunal y el apoyo a los usuarios externos de los organismos cuentadantes.
    </BSListGroupItem>
    <BSListGroupItem Class="bg-transparent">  <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 14 14"><path fill="none" stroke="#333333" stroke-linecap="round" stroke-linejoin="round" d="M4.09 1.19a2 2 0 0 1 .6 1.33L6.52.7a.67.67 0 0 1 1 0L9 2.24a2.18 2.18 0 0 0-.57.4a2.06 2.06 0 0 0 2.91 2.91a2.18 2.18 0 0 0 .4-.57l1.56 1.54a.67.67 0 0 1 0 1l-1.82 1.79a2.05 2.05 0 1 1-2.17 2.17L7.48 13.3a.67.67 0 0 1-1 0L5 11.76a2.18 2.18 0 0 0 .57-.4a2.06 2.06 0 0 0-2.93-2.91a2.18 2.18 0 0 0-.4.57L.7 7.48a.67.67 0 0 1 0-1l1.82-1.79a2 2 0 0 1-1.33-.6a2.05 2.05 0 0 1 2.9-2.9Z"/></svg>    Implementación de una Mesa de Ayuda para la atención de los requerimientos de los agentes del
        Tribunal y el apoyo
        a los usuarios externos de los organismos cuentadantes, fortaleciendo la comunicación interna y externa del
        Tribunal
        de Cuentas. </BSListGroupItem>


</BSListGroup>
